<div class="signup-block justify-content-center text-center px-4 pb-3 border rounded">
    <div class="signup-title mt-2 mb-4">
        <h3>Rejoignez la communauté</h3>
        <h4>Inscrivez-vous</h4>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="signup-form">
        <div class="form-row align-items-center mb-3">
            <div class="form-group col-6">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" 
                                    formControlName = "firstname"
                                    id="firstname" placeholder="Prénom"
                                    required>
            </div>
            <div class="form-group col-6">
                <label for="firstname">Nom</label>
                <input type="text" class="form-control" 
                                    formControlName = "lastname"
                                    id="lastname" placeholder="Nom"
                                    required>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-lg" 
                                formControlName = "email"
                                id="email" 
                                aria-describedby="emailHelp" 
                                placeholder="Email"
                                required>
            <small id="emailHelp" class="form-text text-muted">
                Nous ne partagerons jamais votre e-mail.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe </label>
            <input type="password" class="form-control form-control-lg" 
                                    formControlName = "password"
                                    id="password" 
                                    aria-describedby="passwordHelp" 
                                    placeholder="Mot de passe"
                                    required>
            <small id="passwordHelp" class="form-text text-muted">
                Le mot de passe doit contenir au moins 8 caractères majuscules et minuscules ainsi que des caractères spéciaux (@&!).
            </small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4"
                                [disabled] = "signUpForm.invalid"
                                (click)="onSignUp()">S'inscrire</button>
    </form>
    <p class="text-danger mb-4">{{ errorMessage }}</p>
</div>

<div class="signup-block-signin border rounded">
    <span>
        Vous avez déjà un compte ?
        <a [routerLink]="['/auth/signin']" routerLinkActive="router-link-active" class="" href="">
            Connectez-vous maintenant.
        </a>
    </span>
</div>