
<!-- Modal -->
<ng-template #ratingDeletingcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p><b>Voulez-vous supprimer votre avis ?</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d(false)">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="c(true)">Supprimer</button>
  </div>
</ng-template>

<div *ngFor="let rating of ratings; let i = index" 
     class="row rating-list align-self-center justify-content-center mb-4">

  <div class="col-2 rating-user-info text-center">
    
    <div class="user-img">
      <app-user-avatar *ngIf="rating.user" [photoUrl]="rating.user.ppLink" 
                                           [name]="rating.user.firstname +' '+rating.user.lastname">
      </app-user-avatar>
    </div>

    <div class="rating-user-name" *ngIf="rating.user">
      <small class="user-name">
        <b>
          {{ rating.user.firstname }}
        </b>
      </small>
    </div>

  </div>
  <div class="col-10 rating-content-info">

    <div class="my-1">
      <i class="fa fa-star icon-star mr-1"></i>
      <b class="rating-note">{{ rating.note }}</b>
      <span class="mx-1">-</span>
      <b class="rating-title mb-2">{{ rating.title }}</b> 
    </div>


    <div class="mb-1">
      <small class="publication-date">Le {{ rating.publicationDate }}</small>
    </div>


    <!-- <div class="rating-user-title">
      <span class="user-title" *ngIf="rating.user">
        <small>
          {{ rating.user.title }}
        </small>
      </span>
    </div> -->

    <p class="rating-comment">
      {{ rating.comment }}
    </p>

    <div *ngIf="authService.authUser && rating.user && rating.user.id === authService.authUser.id" 
          class="btns-rating mt-3">
      <button class="btn btn-outline-secondary btn-sm mr-2"
              (click)="updateRatingCourseModal(rating)">
        Modifier
      </button>

      <!-- Button trigger modal -->
      <button class="btn btn-outline-danger btn-sm mr-2"
              (click)="deleteRating(rating, i)">
        Supprimer
      </button>
    </div>

  </div>
</div>





