<ul class="list-group">
  <li *ngFor="let rating of ratings; let i = index" class="row list-group-event mb-4">
      <div class="col-3">

        <!-- Si l'utilisateur n'a pas de PP afficher la PP par défaut-->
        <img class="author-img rounded-circle" 
            src="https://firebasestorage.googleapis.com/v0/b/network-55b29.appspot.com/o/images%2Fusers%2Fuser-default.png?alt=media&token=bacaac7c-2e1b-4d24-8205-0964e65df549" 
            alt="photo author"
            height="90px"
            width="90px"
            *ngIf="!rating.author.ppLink">

        <!-- Si l'utilisateur a une PP afficher sa PP -->
        <img class="author-img rounded-circle" 
              [src]="rating.author.ppLink" 
              alt="photo author"
              height="90px"
              width="90px"
              *ngIf="rating.author.ppLink">
              
      </div>
      <div class="col-7">
        <div>
          <h5 class="author-name" *ngIf="rating.author">{{ rating.author.firstname }} {{ rating.author.lastname }}</h5>
          <h6 class="author-title" *ngIf="rating.author">{{ rating.author.title }}</h6>
          <h6 class="publication-date">{{ rating.publicationDate }}</h6>
        </div>
        <div>
          <i class="fa fa-star icon-star"></i>
          <span class="rating-note">{{ rating.note }}</span>
          <p class="rating-comment">{{ rating.comment }}</p>
        </div>
      </div>
  </li>
</ul>

