
<!-- Modal -->
<div class="modal-dialog" role="document">
  <div class="modal-content"> 
    <div class="modal-body">
      <!---------------------------- Image ------------------------------>
      <h3> Image </h3>
      <form [formGroup]="editHeadItemForm" role="form" class="form-item">

        <img [src]="item.imageLink" width="250" height="250" class="d-inline-block border border-secondary" alt="">

        <input type="file" class="form-control-file" 
                            formControlName="image"
                            id="image"
                            accept="image/*"
                            (change)="onPreviewImage($event)">
          
              
        <p class="text-success" *ngIf="this.urlImagePreview">
          Le fichier a bien été chargé
        </p>

        <!---------------------------- Titre ------------------------------>
        <h3> Titre </h3>
        <input type="text" class="form-control form-control-lg" 
                            formControlName = "title"
                            id="title"
                            [(ngModel)]="item.title"
                            onkeydown="return (event.key !== '\''
                                                && event.key !== ','
                                                && event.key !== ';'
                                                && event.key !== '='
                                                && event.key !== '>'
                                                && event.key !== '<'
                                                && event.key !== '.'
                                                && event.key !== ':'
                                                && event.key !== '`'
                                                && event.key !== '_'
                                                && event.key !== '§')"
                            placeholder="Saisissez le titre de votre formation...">

        <!---------------------------- Phrase d'accroche ------------------------------>
        <h3> Phrase d'accroche </h3>
        <input type="text" class="form-control form-control-lg" 
                            formControlName = "catchPhrase"
                            id="catchPhrase"
                            [(ngModel)]="item.catchPhrase"
                            placeholder="Saisissez votre phrase d'accroche">

        <!---------------------------- Phrase d'accroche ------------------------------>
        <h3> Prix </h3>                             
        <input type="number" class="form-control form-control-lg" 
                              formControlName = "price"
                              min="10"
                              id="price" 
                              [(ngModel)]="item.price"
                              onkeydown="return (event.keyCode !== 69 
                                                  && event.keyCode !== 187
                                                  && event.keyCode !== 189)"
                              aria-label="Amount (to the nearest dollar)"
                              placeholder="Saisissez le price de votre formation...">

      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" 
                            (click)="activeModal.close('Close click')">Annuler</button>
      <button type="button" (click)="passBack()">Enregistrer</button>
    </div>
  </div>
</div>