<!-- Header -->
<nav class="navbar navbar-item-form">
  <!-- Image Logo-->
  <span class="navbar-brand my-auto">

    <img src="../../assets/img/wyskill_logo_sm.png" 
         width="120"
         class="d-inline-block " 
         alt="logo wyskill">
  </span>

  <ul class="navbar-nav">

    <button type="button" 
            class="btn btn-danger"
            (click)="closeForm()">
      Quitter
    </button>

  </ul>
</nav>

<!-- Body -->
<div class="container-fluid"
     style="height:85vh;">
 
  <div class="row mt-5 justify-content-center">

    <div class="col-lg-2 col-md-3 col-sm-3">

      <!-- Navigation  -->
      <app-nav-item-form></app-nav-item-form>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8"> 

      <div class="alert alert-success text-center item-created" 
          *ngIf="isItemCreated()">
        <h3>Félicitations !</h3>

        <span class="item-created-text" 
              *ngIf="itemFormService.isCourse">
          Votre formation à bien été créé, vous pourrez la consulter dans : 
        </span>

        <span class="item-created-text" 
              *ngIf="itemFormService.isEvent">
          Votre événement à bien été créé, vous pourrez le consulter dans : 
        </span>
        <countdown #countdown 
                  [config]="{leftTime: 3}" 
                  (event)="onTimerFinished($event)">
          $!m!:$!s!
        </countdown>
      </div>

      <div *ngIf="!isItemCreated()">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>