<!-- Header -->
<nav class="navbar navbar-item-form">
  <span class="navbar-brand mb-0 h1">LOGO</span>
  <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="iconify icon-exit" 
                  data-inline="false" 
                  data-icon="eva:close-fill"
                  (click)="closeForm()">
            </span>
          </a>
      </li>
  </ul>
</nav>

<!-- Navigation -->
<app-nav-item-form></app-nav-item-form>

<!-- Body -->
<div class="item-form-body">
  <router-outlet></router-outlet>
</div>

