.navbar {
    width: 100%;
    height: 4rem;

    background-color: white;
    
    -webkit-box-shadow: 0px 2px 4px 1px rgba(155,155,155,0.32); 
    box-shadow: 0px 2px 4px 1px rgba(155,155,155,0.32);
}

.search-bar {

    width:27rem;

    margin-left: 2.3rem;
    margin-right: auto;

    padding-top: 0;
    padding-bottom: 0;
}

.navbar-items {
    min-width: 100%;
}

.nav-item {
    margin-left: 12%;
    height: 3.8rem;
    min-width: 5vw;
    text-align: center;
}

.nav-icon:focus, .nav-icon:hover{
    color: #396274;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.nav-li a {
    padding: 1vh;
    height: 100%;
    width: 100%;
}

.nav-li-text {
    font-weight: 450;
}

.nav-icon {
    font-size: 1.8rem; 
    color: #2E7B9C;

    display:inline-block;
    height: 100%;
    margin: 0 auto;
}

.nav-icon-pp {
    height: 3.8rem;
    width: 3.8rem;
    display: inline-block;
}

.nav-icon-dd {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.dropdown-item {
   /* height: 10vh;*/
    font-size: 1rem;
    font-weight: 400;
}

.icon-pop-content {
    font-size: 1.7rem;
    color:#2E7B9C; 
}

.pop-content-btn:hover, .pop-content-btn:focus {
    font-size: 0.8rem;
    color:#396274; 
}

.pop-content-btn {
    margin:0.3rem;
}

.pop-btn-name { 
    text-transform: uppercase;
    font-weight: 500;
    color:#2E7B9C; 
}

.input-search {
    border-radius: 3rem 0 0 3rem;
    -moz-border-radius: 3rem 0 0 3rem;
    -webkit-border-radius: 3rem 0 0 3rem;
}

.icon-search {
    border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    -webkit-border-radius: 0 3rem 3rem 0;
}

.btn-signin {
   
    height: 2.7rem;

    background-color: #2E7B9C;
    color: #F8F7F6;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    -moz-border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    -webkit-border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    text-transform: uppercase;
    font-weight: 500;

    margin-top: auto;
    margin-bottom: auto;
}

.btn-signin:hover, .btn-signin:focus, .btn-signin:active { 
   color: #2E7B9C;
   background-color: #F8F7F6;
   border:solid 0.1rem #2E7B9C;
}

.nav-categories {
    background-color: #F4F5F6;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-categories > li{
    border-bottom: solid 0.1rem transparent;
}

.nav-categories > li:hover {
    border-bottom-color: #2E7B9C;
}
