<!-- Ne pas afficher la barre de navigation pour les pages 'signin' et 'signup' -->  
<nav class="navbar navbar-expand-lg sticky-top">

  <!-- Image Logo-->
  <a (click)="goHome()" 
     class="navbar-brand my-auto">
    <img src="assets/img/wyskill_logo_sm.png" 
         width="120" 
         class="d-inline-block" 
         alt="logo wyskill">
  </a>

  <div *ngIf="!displaySearchBar()"
       class="sb-section my-auto ml-lg-5 ml-md-5">

    <app-search-bar2 [height]="'md'">
    </app-search-bar2>
  </div> 

    <!-- Button toggle dev navbar -->
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarContent" 
          aria-controls="navbarContent" 
          [attr.aria-expanded]="!collapsed" 
          aria-label="Toggle navigation" 
          (click)="collapsed = !collapsed">

    <span class="iconify" 
        data-icon="fontisto:nav-icon-a" 
        data-inline="false" 
        style="color: black;">
    </span>
  </button> 

  <div class="collapse navbar-collapse justify-content-end" 
      id="navbarContent"
      [class.collapse]="collapsed">

    <ul class="navbar-nav justify-content-end my-auto">

      <!-- Home / Feed -->
      <li *ngIf="isAuth()" 
          class="nav-li">

        <a class="nav-link" 
           (click)="goHome()">

          <span class="iconify nav-icon" 
                data-inline="false" 
                data-icon="ant-design:home-filled">
          </span>
        </a>
      </li>

      <li class="nav-li nav-li-publish" 
          routerLinkActive="router-link-active">

        <div class="d-flex align-items-center nav-li-text"
             (click)="onNewItem()"
             style="font-weight: 500;">
          Partager ses compétences
        </div>
      </li>

      <li *ngIf="!isAuth()"
          class="nav-li nav-li-publish" 
          routerLinkActive="router-link-active">

        <div class="d-flex align-items-center nav-li-text"
            (click)="onSignUp()"
            style="font-weight: 500;">
          Rejoindre
        </div>
      </li>

      <li *ngIf="!isAuth()"
          class="nav-li" 
          routerLinkActive="router-link-active">

        <button class="btn btn-gen btn-animation" 
                (click)="onSignIn()">
          Se connecter
        </button>
      </li>

      <li class="nav-item li-avatar ml-5" 
          *ngIf="isAuth()"
          ngbDropdown 
          display="dynamic" 
          placement="bottom-right">

        <a class="nav-link a-avatar" 
           tabindex="0" 
           ngbDropdownToggle 
           id="navbar-user-dd">

          <!-- <div class="row justify-content-center align-items-center nav-avatar">

            <div class="col nav-avatar-col border border-danger"> -->
              <div class="nav-icon-pp">

                <app-user-avatar [photoUrl] = "getUserPpLink() ? '' : getUser().ppLink" 
                                 [name]="getUser().firstname +' '+ getUser().lastname"
                                 [border]="'2px solid black'">
                </app-user-avatar> 

              </div>
            <!-- </div>

            <div class="col border border-success">

              <div class="nav-avatar-icon text-center border border-warning">
                <span class="iconify border" 
                      data-icon="fluent:navigation-20-filled" 
                      data-inline="false"></span>
              </div>

            </div>
          </div> -->
        </a>

        <div ngbDropdownMenu 
             class="dropdown-menu"
             aria-labelledby="navbar-user-dd">

          <a ngbDropdownItem
              (click)="goToAuthUserPage()">Mon profil</a>

          <!-- <a ngbDropdownItem 
            (click)="goToAuthUserPage()">Mon panier</a> -->

          <a ngbDropdownItem
              (click)="goToAuthUserPage()">Mon tableau de bord</a>

          <!-- <a ngbDropdownItem 
            (click)="goToAuthUserPage()">Mes formations suivies</a> -->

          <!-- <a ngbDropdownItem 
            (click)="goToAuthUserPage()">Mon agenda</a> -->

          <div class="dropdown-divider"></div>
          
          <a ngbDropdownItem
             (click)="onSignOut()">Se déconnecter</a>

        </div>
      </li>

      
      <!-- Sign In -->
      <!-- <li *ngIf="!isAuth()" 
          class="ml-5 my-auto">

        <button class="btn btn-signin bg-main-color elem" 
                (click)="onSignIn()">
          Se connecter
        </button>
      </li> -->

      <!-- <ng-template #popContent> 
        <div class="row">
          <div class="col-6">
          <button class="btn pop-content-btn" 
                  (click)="onNewCourse()">
            <span class="iconify icon-pop-content" 
                  data-inline="false" 
                  data-icon="whh:student">
            </span>
            <div class="pop-btn-name">Formation</div>
          </button>
          </div>
          <div class="col-6">
          <button class="btn pop-content-btn" 
                  (click)="onNewEvent()">
            <span class="iconify icon-pop-content" 
                  data-inline="false" 
                  data-icon="bx:bx-calendar">
            </span>
            <div class="pop-btn-name">Événement</div>
          </button>
        </div>
        </div>
      </ng-template> -->

      <!-- Create courses events -->
      <!-- <li class="nav-li nav-li-publish" 
          routerLinkActive="router-link-active" 
          [ngbPopover]="popContent" 
          placement="bottom"
          [autoClose]="'outside'"> -->


      <!-- Notifications -->
      <!-- <li *ngIf="isAuth()" class="nav-item nav-li" routerLinkActive="router-link-active">
        <a class="nav-link">
          <span class="iconify nav-icon" data-inline="false" data-icon="ion:notifications"></span>
        </a>
      </li> -->

    </ul>

    <!-- Sign In -->
    <!-- <div *ngIf="!isAuth()" 
         class="ml-5 my-auto">

      <button class="btn btn-signin bg-main-color elem" 
              (click)="onSignIn()">
        Se connecter
      </button>
    </div> -->

  </div>
</nav>