#sidebar {
    text-transform: uppercase;
}

label{
    font-size: 1.3em;
    font-weight: 8em;
}

.sidebar-header {
    font-size: 1.5em;
    font-weight: 8em;
    margin-bottom: 2.5vh;
 }

.sidebar-label-header {
    font-size: 1.5em;
    font-weight: 8em;
    margin-bottom: 1.6vh;
}

.custom-control{
    margin-bottom: 1.8vh;
}

.custom-control-label::before ,.custom-control-label::after{
    width:15px; 
    height:15px;
}

hr {
    color: rgb(88, 87, 87);
    overflow: visible;
    text-align: center;
    width: 80%;

    margin-top: 3.6vh;
    margin-bottom: 3vh;
}