@import '/src/app/shared/style/color.scss';

.icon-search {
    
    cursor: pointer;

    color: black;
    font-size: 1.3rem;
    background-color: white;

    border: 1px solid black;
    border-left: 0;
}

.input-search {

    border: 1px solid black;
    border-right: 0;

    font-weight: 400;
	font-size: 1rem;

}

.input-search:focus {

    box-shadow: none;
}

.suggestions {

    //width: 38.62vw;

    position: absolute;
    z-index: 5;

    left: 0px;
    right: 0px;

    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    
    max-height: 15em;

    overflow-y: auto;

    padding-bottom: 0.25em;
    background-color: white;

    border-radius: 0 0 1.5rem 1.5rem;
    -moz-border-radius: 0 0 1.5rem 1.5rem;
    -webkit-border-radius: 0 0 1.5rem 1.5rem;

    border: 1px solid black;
    border-top: 0;
}

.suggestions::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.suggestion:hover {
    color: #179661;
}