<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Ne pas afficher la barre de navigation pour les pages 'signin' et 'signup' -->  
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  
   <!-- Image Logo-->
   <a [routerLink]="['home']" routerLinkActive="router-link-active" class="navbar-brand my-auto">
    <img src="assets/img/logo.png" width="90" height="46" class="d-inline-block" alt="">
   </a>
<!--
   <div class="form-group border border-primary mx-auto my-auto">
    <div class="input-group"> -->
    
    <!-- Group button input --> 
    <!-- Dropdown menu Category -->
    <!--
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" 
                                                                data-toggle="dropdown" 
                                                                aria-haspopup="true" 
                                                                aria-expanded="false">
        <i class="glyphicon glyphicon-th"></i>
        Dropdown
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div> -->

    <!-- Input search -->
    <!--
        <input class="form-control input" type="text" 
                                          placeholder="Rechercher"
                                          aria-label="Search"> 
    --> 

      <!-- Button search -->
      <!-- 
      <div class="input-group-append">
        <button class="btn-seach btn btn-secondary" type="button"
                                                    [routerLink]="['items']" 
                                                    routerLinkActive="router-link-active">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
      </div> 
    </div>
  </div>
-->

  <!-- Add courses / Training / Events 
  <button class="btn-seach btn btn-secondary" type="button"
                                              [routerLink]="['items']" 
                                              routerLinkActive="router-link-active">
    <span class="f">Créer un projet</span>
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>
-->

<button type="button" 
        class="btn btn-secondary" 
        data-toggle="tooltip" 
        data-placement="bottom" 
        title="Tooltip">
  Tooltip
</button>
  <!-- Popover pour créer une formation ou un événement -->
  <a tabindex="0" class="btn btn-danger"
                  role="button"
                  popover-placement="bottom"  
                  data-toggle="popover" 
                  data-trigger="hover" 
                  title="Dismissible popover" 
                  uib-popover-template="'newProduct.html'" >
    Dismissible popover
  </a>
  

  <!-- Button toggle dev navbar -->
  <button class="navbar-toggler" type="button" 
                                  data-toggle="collapse" 
                                  data-target="#navbarNav" 
                                  aria-controls="navbarNav" 
                                  aria-expanded="false" 
                                  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  

  <div class="navbar-collapse-nav collapse navbar-collapse justify-content-end border" id="navbarNav">

    <ul class="navbar-sign nav navbar-nav my-auto border border-primary">

      <!-- Home => Feed -->
      <li class="nav-item nav-li" routerLinkActive="router-link-active" *ngIf="authService.isAuth && !isHomeRoute()">
        <a [routerLink]="['feed']" class="nav-link">
          <div class="nav-icon">
            <i class="fa fa-home fa-2x"></i>
          </div>
          Accueil
        </a>
      </li>

      <!-- Find courses -->
      <li class="nav-item nav-li" routerLinkActive="router-link-active" *ngIf="!isHomeRoute()">
        <a [routerLink]="['items']" class="nav-link">
          <div class="nav-icon">
            <i class="fa fa-book fa-2x"></i>
          </div>
          Formations
        </a>
      </li>

      <!-- Find Évents -->
      <li class="nav-item nav-li" routerLinkActive="router-link-active" *ngIf="!isHomeRoute()">
        <a [routerLink]="['items']" class="nav-link">
          <div class="nav-icon">
            <i class="fa fa-calendar fa-2x"></i>
          </div>
          Événements
        </a>
      </li>

      <!-- Notifications -->
      <li class="nav-item nav-li" routerLinkActive="router-link-active" *ngIf="authService.isAuth && !isHomeRoute()">
        <a [routerLink]="['items']" class="nav-link">
          <div class="nav-icon">
            <i class="fa fa-bell fa-2x"></i>
          </div>
          Notifications
        </a>
      </li>

      <!-- Lien "My shopping cart" -->
      <li class="nav-item nav-li" routerLinkActive="router-link-active">
        <a [routerLink]="['items']" class="nav-link">
        <div class="nav-icon">
          <i class="fa fa-shopping-cart fa-2x"></i>
        </div>
          Panier
        </a>
      </li>
      
      <li class="nav-item dropdown nav-li"  *ngIf="authService.isAuth">
        <a class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" 
                                                                  id="dropdownMenuAccount"
                                                                  aria-haspopup="true" 
                                                                  aria-expanded="false">
          <div class="nav-icon">
            <i class="fa fa-user fa-2x"></i>
          </div>
            Mon compte
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuAccount">
          <a class="dropdown-item">Paramétrer mon compte</a>
          <a routerLinkActive="active" [routerLink]="['home']" 
                                        class="dropdown-item" 
                                        (click) = "onSignOut()"
                                        style="cursor:pointer">
                                        Déconnecter</a>
        </div>
      </li>

      <!-- Sign In -->
      <li class="nav-li-sign"  routerLinkActive="active" *ngIf="!authService.isAuth">
        <a class="border border-primary rounded" [routerLink]="['auth/signin']">
          Se connecter
        </a>
      </li>
    </ul>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>