<div class="item-list row align-items-center justify-content-center btn-animation item-click">

  <div class="col-3 text-center item-click"
       (click)="onConsultEvent(event)">

    <div class="my-auto">
      <img *ngIf="event.imageLink" 
          class="item-list-img" 
          [src]="event.imageLink">
    </div>
  </div>

  <div class="col-7">

    <div class="item-click" 
         (click)="onConsultEvent(event)">

      <h5>{{ event.title }}</h5>

      <span class="event-category">{{ event.category.name }}</span>
      
      <div class="event-section-auteur">
        <span>Par :</span>
          <img class="event-img-author" src="" alt="" width="15" height="15">
        <span class="event-author-name">{{ event.getMainiAuthorName() }}</span>
      </div>
      <div>
        <span>Date : {{ event.dates.startDate }} - {{ event.dates.endDate }}</span>
        <span>Lieu : {{ event.location.country }}</span>
      </div>
    </div>
  </div>

  <div class="col-2 align-self-center item-click" 
      (click)="onConsultEvent(event)">

    <h4 class="course-price">
    {{ event.price }} €
    </h4>
  </div>
</div>