<div class="row w-100 justify-content-center user-items-block my-5">

  <!-- Start user presentation section -->
  <div *ngIf="user.isBooster && user.presentationLink" 
       class="row user-items-section justify-content-center text-center mb-5">

    <div class="col-12">

      
      <video controls width="60%">

        <source [src]="user.presentationLink"
                type="video/mp4">

        Sorry, your browser doesn't support embedded videos.

      </video>

<!-- 
      <h5 *ngIf="!user.presentationLink">Ajouter une vidéo de présentation</h5> -->
    </div>
  </div> <!-- End user courses section -->

  <!-- Start user courses section -->
  <div *ngIf="courses && courses.length" 
       class="row user-items-section user-courses-section">

    <div class="col-12">
      <h5 class="title-cat">
        Formations ({{ getICoursesLength() }}) > <a (click)="displayUserCourses()">Tout consulter</a>
      </h5>
      <hr> <!-- separation line -->
      <app-items-carousel *ngIf="courses" 
                          [item_type]="'course'" 
                          [iItems]="courses">
      </app-items-carousel>
      <span *ngIf="getICoursesLength() === 0">Aucune formations</span>
    </div>
  </div> <!-- End user courses section -->

  <!-- Start user events section -->
  <div *ngIf="events && events.length" 
       class="row user-items-section user-events-section">
    <div class="col-12">
      <h5 class="title-cat">
       Événements({{ getIEventsLength() }}) > <a (click)="displayUserEvents()">Tout consulter</a>
      </h5>
      <hr> <!-- separation line -->
      <app-items-carousel *ngIf="events" 
                          [item_type]="'event'" 
                          [iItems]="events">
      </app-items-carousel>

      <span *ngIf="getIEventsLength() === 0">Aucun événements</span>
    </div>
  </div> <!-- End user events section -->

  <!-- Start user posts section -->
  <!-- <div class="row user-items-section user-posts-section">
    <div class="col-12">
      <h5 class="title-cat">Publications (6)</h5>
      <hr> separation line -->
      <!-- <span>À venir</span>
    </div>
  </div> End user posts section -->
</div>