.block-sign {
    
    min-width: 350px;
    
    background-color: white;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.input-sign {

    font-weight: 450;
	font-size: 1rem;
}

.btn-login, .btn-subscribe {
   
    height: 2.7rem;

    /* background-color: #2E7B9C; */
    color: white;

    border: 0;

    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    -moz-border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    -webkit-border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    font-weight: 550;

    margin-top: auto;
    margin-bottom: auto;
}

.btn-login {

    background-color: #179661;
    color: white;
}

.btn-subscribe {

    background-color: black;
    color: white;
}

.btn-login:hover, .btn-login:focus, .btn-login:active { 

    background-color: #179661;

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-subscribe:hover, .btn-subscribe:focus, .btn-subscribe:active { 

    background-color: rgb(51, 51, 51);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.catch-p {

    color: gray;
    font-size: larger;
    font-weight: 450;
}

.auth-content {

    margin-top: 10vh;
}