

    <!-- <form [formGroup]="contentCourseForm">
      <div formArrayName="modules">
        <div *ngFor="let module of modulesControls.controls; let iModule = index">
          <div [formGroupName]="iModule">

            <span class="text-center">Module</span>
            <div>
              <label [attr.for]="'titleModule'+iModule" class="sr-only">Titre</label>
              <input type="text" 
                     formControlName="titleModule"
                     [attr.id]="'titleModule'+iModule" 
                     [attr.name]="'titleModule'+iModule" 
                     [ngClass]="{'is-invalid': shouldShowModuleRequiredError(iModule, 'titleModule')}"
                     (click)="shouldShowModuleRequiredError(iModule,'titleModule')"
                     placeholder="Titre"
                     autocomplete="off"
                     required>
      
              <label [attr.for]="'descriptionModule'+iModule" class="sr-only">Name </label>
              <input type="text" 
                     formControlName="descriptionModule"
                     [attr.id]="'descriptionModule'+iModule" 
                     [attr.name]="'descriptionModule'+iModule" 
                     [ngClass]="{'is-invalid': shouldShowModuleRequiredError(iModule, 'descriptionModule')}"
                     (click)="shouldShowModuleRequiredError(iModule, 'descriptionModule')"
                     placeholder="Description"
                     autocomplete="off"
                     required>

              <button *ngIf="!courseModules[iModule]"
                      type="button" 
                      class="btn btn-primary" 
                      (click)="addModule()" 
                      [disabled]="module.invalid">Add module</button>

              <button *ngIf="courseModules[iModule] && moduleFormIsDisabled(iModule)"
                      (click)="updateModule(iModule)">Update</button>

              <button *ngIf="courseModules[iModule] && !moduleFormIsDisabled(iModule)"
                      (click)="saveModule(iModule)">Save</button>

              <button *ngIf="courseModules[iModule]"
                      (click)="removeModule(iModule)">Remove</button>
            </div>

            <div formArrayName="chapters">
              <div *ngFor="let chapter of getChapterControlsWithModuleIndex(iModule).controls; let iChapter = index">
                <div [formGroupName]="iChapter">
                  {{ iModule }} {{ iChapter }}
                  <label [attr.for]="'titleChapter'+iModule+''+iChapter" 
                          class="sr-only">
                    Titre
                  </label>
                  <input type="text" [attr.id]="'titleChapter'+iModule+''+iChapter" 
                                     formControlName="titleChapter"
                                     [ngClass]="{'is-invalid': shouldShowChapterRequiredError(iModule, iChapter, 'titleChapter')}"
                                     (click)="shouldShowChapterRequiredError(iModule, iChapter, 'titleChapter')"
                                     placeholder="Nouvelle section"
                                     autocomplete="off"
                                     required>
          
                  <button *ngIf="courseModules[iModule] && !courseModules[iModule].chapters[iChapter]"
                          type="button" 
                          class="btn btn-primary" 
                          (click)="addChapter(iModule)" 
                          [disabled]="chapter.invalid">Add section</button>

                  <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter] 
                                                        && chapterFormIsDisabled(iModule, iChapter)"
                          (click)="updateChapter(iModule, iChapter)">Update</button>

                  <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter] 
                                                        && !chapterFormIsDisabled(iModule, iChapter)"
                          (click)="saveChapter(iModule, iChapter)">Save</button>

                  <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter]"
                          (click)="removeChapter(iModule, iChapter)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form> -->

    <!-- <p>
      <button type="button" 
              (click)="onSubmit()" 
              [disabled]="!courseModules.length">Créer Modules</button>
    </p> -->


<form [formGroup]="contentCourseForm">

  <div class="accordion" id="accordionCourseModules">
    <div formArrayName="modules">
      
      <div class="card" *ngFor="let module of modulesControls.controls; let iModule = index">
        <div [formGroupName]="iModule">

          <div class="card-header"
                [attr.id]="'heading'+iModule"
                data-toggle="collapse" 
                [attr.data-target]="'#collapse'+iModule" 
                attr.aria-expanded="true" 
                [attr.aria-controls]="'collapse'+iModule">

            <div class="row mb-0">
              <div class="col-11">
                <div class="form-group col-12">
                  <label [attr.for]="'titleModule'+iModule">
                    Titre
                  </label>

                  <input type="text" 
                          class="form-control mb-3"
                          formControlName="titleModule"
                          [attr.id]="'titleModule'+iModule" 
                          [attr.name]="'titleModule'+iModule" 
                          [ngClass]="{'is-invalid': shouldShowModuleRequiredError(iModule, 'titleModule')}"
                          (click)="shouldShowModuleRequiredError(iModule,'titleModule')"
                          placeholder="Titre"
                          autocomplete="off"
                          required>

                </div>

                <div class="form-group col-12">
                  <label [attr.for]="'descriptionModule'+iModule">
                    Description
                  </label>

                  <input type="text" 
                          class="form-control"
                          formControlName="descriptionModule"
                          [attr.id]="'descriptionModule'+iModule" 
                          [attr.name]="'descriptionModule'+iModule" 
                          [ngClass]="{'is-invalid': shouldShowModuleRequiredError(iModule, 'descriptionModule')}"
                          (click)="shouldShowModuleRequiredError(iModule, 'descriptionModule')"
                          placeholder="Description"
                          autocomplete="off"
                          required>
                </div>
  
                <div class="mt-3">
                  <button *ngIf="!courseModules[iModule]"
                          type="button" 
                          class="btn btn-primary" 
                          (click)="addModule()" 
                          [disabled]="module.invalid">Add module</button>
    
                  <button *ngIf="courseModules[iModule] && moduleFormIsDisabled(iModule)"
                          (click)="updateModule(iModule)">Update</button>
    
                  <button *ngIf="courseModules[iModule] && !moduleFormIsDisabled(iModule)"
                          (click)="saveModule(iModule)">Save</button>
    
                  <button *ngIf="courseModules[iModule]"
                          (click)="removeModule(iModule)">Remove</button>
                </div>
              </div>
              <div class="col-1">
                <span class="iconify module-expand" 
                      data-icon="ic:round-expand-more" 
                      data-inline="false"></span>

                <!-- <span class="iconify module-expand" 
                      data-icon="ic:round-expand-less" 
                      data-inline="false"></span> -->
              </div>
            </div>
            
          </div>
          <div class="card-body py-0">
      
            <div [attr.id]="'collapse'+iModule" 
                  class="collapse show py-0 my-0" 
                  [attr.aria-labelledby]="'heading'+iModule" 
                  data-parent="#accordionCourseModules">
      
              <div class="my-2 py-0">
                
                <div *ngIf="getChapterControlsWithModuleIndex(iModule)" 
                    formArrayName="chapters">
                  <div *ngFor="let chapter of getChapterControlsWithModuleIndex(iModule).controls; let iChapter = index">
                    <div [formGroupName]="iChapter">

                      <div class="form-group">
                        <label for="titleChapter">
                          Titre
                        </label>

                        <input type="text" class="form-control"
                                          [attr.id]="'titleChapter'+iModule+''+iChapter" 
                                          formControlName="titleChapter"
                                          [ngClass]="{'is-invalid': shouldShowChapterRequiredError(iModule, iChapter, 'titleChapter')}"
                                          (click)="shouldShowChapterRequiredError(iModule, iChapter, 'titleChapter')"
                                          placeholder="Nouvelle section"
                                          autocomplete="off"
                                          required>
                      </div>

                      <div class="mb-3">
                        <button *ngIf="courseModules[iModule] && !courseModules[iModule].chapters[iChapter]"
                                type="button" 
                                class="btn btn-primary" 
                                (click)="addChapter(iModule)" 
                                [disabled]="chapter.invalid">Add section</button>

                        <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter] 
                                                              && chapterFormIsDisabled(iModule, iChapter)"
                                (click)="updateChapter(iModule, iChapter)">Update</button>

                        <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter] 
                                                              && !chapterFormIsDisabled(iModule, iChapter)"
                                (click)="saveChapter(iModule, iChapter)">Save</button>

                        <button *ngIf="courseModules[iModule] && courseModules[iModule].chapters[iChapter]"
                                (click)="removeChapter(iModule, iChapter)">Remove</button>
                      </div>
                    </div>

                    <hr class="my-2">

                  </div>
                </div>
    
              </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
