<div id="booster-terms">
  <div class="terms-header">
    <h2>CONDITIONS D'UTILISATION DU BOOSTEUR</h2>
    <i>La dernière mise à jour des présentes Conditions d'utilisation du boosteur (<strong>«&nbsp;Conditions&nbsp;»</strong>) date du 07 août 2021.</i>
  </div>

  <p>
    En vous inscrivant pour devenir boosteur (formateur / organisateur) sur la plate-forme Wyskill, vous acceptez de vous conformer aux présentes Conditions d'utilisation du boosteur («&nbsp;<b>Conditions</b>»). Les présentes Conditions fournissent des informations détaillées sur les aspects de la plate-forme Wyskill pertinents pour les boosteurs. Elles sont en outre intégrées par renvoi dans nos&nbsp;Conditions générales d'utilisation, à savoir les conditions générales qui régissent votre utilisation de nos Services. Tous les termes en majuscules qui ne sont pas définis dans les présentes Conditions sont spécifiés dans les <a [routerLink]="" (click)="goToGeneralTerms()">Conditions générales d'utilisation</a>.
    <br/>
    <br/>
    En tant que boosteur, vous concluez directement un contrat avec Wyskill.
  </p>

  <div class="summary">
    <h4>Table des matières</h4>

    <nav data-toggle-icon="" 
         data-close-icon="" 
         data-full-width="">

      <ul class="terms-menu">
        <li>
          <a [routerLink] = "['./']"
             fragment="section1">
            1. Obligations du boosteur
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"  
              fragment="section2">
            2. License concédée à Wyskill
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"
              fragment="section3">
            3. Confiance et sécurité
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"
              fragment="section4">
            4. Tarification
          </a>
        </li>
        <li>
          <a [routerLink] = "['/']"  
             fragment="section5">
            5. Paiements
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']" 
             fragment="section6">
            6. Marques déposées
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"
              fragment="section7">
            7. Suppression de votre compte
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"
             fragment="section8">
            8. Modalités juridiques diverses
          </a>
        </li>
        <li>
          <a [routerLink] = "['./']"
             fragment="section9">
            9. Comment nous contacter ?
          </a>
        </li>
      </ul>

    </nav>
  </div>
</div>
<div id="section1"
     class="terms-section">
  <h4>1. Obligations du boosteur</h4>
  <p>
    En tant que boosteur, vous êtes responsable de tout le contenu que vous affichez les ressources, le contenu des pages d'accueil des formations,&nbsp;le contenu des pages d'accueil des événements,&nbsp; les annonces («&nbsp;<b style="font-style: inherit; color: var( --e-global-color-50285b5 ); font-family: var( --e-global-typography-text-font-family ), Sans-serif;">Contenu soumis&nbsp;</b>»).
  
    Vous déclarez et garantissez que&nbsp;:
  </p>
  <ul>
     <li>vous fournirez des informations relatives à votre compte exactes&nbsp;;</li>
     <li>vous détenez ou avez les licences, droits, consentements, permissions et autorisations nécessaires pour autoriser Wyskill à utiliser votre Contenu soumis aux termes des présentes Conditions et des Conditions générales d'utilisation&nbsp;;</li>
     <li>votre Contenu soumis n'enfreindra ni ne détournera les droits de propriété intellectuelle d'un tiers&nbsp;;</li>
     <li>vous possédez les qualifications, les titres de compétences et l'expertise requis (y compris les niveaux d'étude, la formation, les connaissances et les compétences) pour assurer les services que vous offrez par le biais du Contenu soumis et de l'utilisation des Services ;</li>
     <li>vous assurerez une qualité de service correspondant aux normes du secteur et aux services éducatifs en général.</li>
  </ul>
  <p>
    <br/><br/>
    Vous vous engagez à ne&nbsp;<u>pas</u>&nbsp;:
    <br/><br/>
  </p>
  <ul>
     <li>publier ou fournir du contenu ou des informations inappropriés, offensants, racistes, haineux, sexistes, pornographiques, faux, trompeurs, incorrects, contrefaits ou diffamatoires&nbsp;;</li>
     <li>publier ou transmettre de la publicité non sollicitée ou non autorisée, du contenu promotionnel, du spam, du courrier indésirable ou une autre forme de sollicitation (commerciale ou autre) par l'entremise des Services ou à destination d'un utilisateur&nbsp;;</li>
     <li>utiliser les Services à d'autres fins que la prestation de services de tutorat, d'enseignement et services pédagogiques aux participants&nbsp;;</li>
     <li>lancer d'activités qui nous obligeraient à obtenir des licences d'un tiers ou à verser des redevances à un tiers, y compris le paiement de redevances pour la performance publique d'une œuvre musicale ou d'un enregistrement sonore&nbsp;;</li>
     <li>rédiger ou intégrer les Services (de manière à intégrer une version gratuite d'une formation) ou à ne pas contourner pas les Services&nbsp;;</li>
     <li>usurper l'identité d'une autre personne ou obtenir un accès non autorisé au compte d'une autre personne&nbsp;;</li>
     <li>gêner ou empêcher de quelque manière que ce soit d'autres boosteurs dans leur prestation de services ou leur contenu&nbsp;;&nbsp;</li>
     <li>abuser des ressources de Wyskill, y compris les services de support.</li>
  </ul>
</div>

<div id="section2" 
     class="terms-section">
  <h4>2. Licence concédée à Wyskill</h4>
  <p>
    Vous accordez à Wyskill les droits stipulés dans les&nbsp;<a [routerLink]="" (click)="goToGeneralTerms()">Conditions générales d'utilisation</a>, nous permettant d'offrir, de commercialiser et d'exploiter de toute autre manière votre Contenu soumis. Cela inclut le droit d'ajouter des légendes ou de modifier autrement le contenu pour assurer son accessibilité. Vous autorisez également Wyskill à sous-licencier ces droits sur votre Contenu soumis à des tiers, y compris aux participants, directement ou par l'intermédiaire de tiers, tels que des revendeurs, des distributeurs, des sites affiliés, des sites commerciaux et des publicités payantes sur des plates-formes tierces.
    <br/><br/>
    Sauf convention contraire, vous avez le droit de supprimer à tout moment tout ou partie du Contenu soumis des services. Sauf accord contraire, le droit de Wyskill de sous-licencier les droits prévus dans cette section prendra fin pour les nouveaux utilisateurs 60&nbsp;jours après la suppression du Contenu soumis. Toutefois, (1) les droits accordés aux participants avant le retrait du Contenu soumis seront maintenus conformément aux clauses de ces licences (y compris tout droit d'accès à vie) et (2) le droit de Wyskill d'utiliser ce Contenu soumis à des fins de marketing restera en vigueur après toute résiliation.
    <br/><br/>
    Nous pouvons enregistrer tout ou partie de votre Contenu soumis pour le contrôle de la qualité et pour la livraison, la commercialisation, la promotion, la démonstration ou l'exploitation des Services. Vous autorisez Wyskill à utiliser votre nom, ressemblance, voix et image dans le cadre de l'offre, de la prestation, de la commercialisation, de la promotion, de la démonstration et de la vente des Services, de votre Contenu soumis ou du contenu Wyskill. Vous renoncez en outre à tout droit de confidentialité, de publicité ou aux autres droits similaires, dans la mesure où la législation en vigueur le permet.  
  </p>
</div>

<div id="section3"
     class="terms-section">
  <h4>3. Confiance et sécurité</h4>
  <h5>3.1 Politiques de confiance et de sécurité</h5>
  <p>
    Vous acceptez de vous conformer aux autres normes de qualité des formation ou politiques émises à tout moment par Wyskill. Nous vous conseillons de consulter ces politiques régulièrement pour vous assurer que vous vous conformez aux mises à jour qui y sont apportées. Vous comprenez que votre utilisation des Services est soumise à l'approbation de Wyskill, que nous pouvons accorder ou refuser à notre entière discrétion.
    <br/><br/>
    Nous nous réservons le droit de supprimer du contenu, de suspendre les paiements et/ou de bannir des boosteurs (formateurs / organisateurs) pour quelque raison que ce soit, à tout moment, sans préavis, y compris dans les cas suivants&nbsp;:
  </p>
  <ul>
    <li>si un boosteur ou un contenu ne respecte pas nos politiques ou nos conditions légales (y compris les <a [routerLink]="" (click)="goToGeneralTerms()">Conditions générales d'utilisation</a>)&nbsp;;</li>
    <li>si un contenu est inférieur à nos normes de qualité ou a un impact négatif sur l'expérience des participants&nbsp;;</li>
    <li>si un boosteur adopte un comportement susceptible d'avoir des répercussions défavorables sur Wyskill ou d'entraîner publiquement le discrédit, le mépris, le scandale ou le ridicule sur Wyskill ;</li>
    <li>si un boosteur fait appel aux services d'un spécialiste du marketing ou d'un autre partenaire commercial qui enfreindrait les politiques de Wyskill ;</li>
    <li>si un boosteur utilise les Services d'une manière qui constitue une concurrence déloyale, telle que la promotion de ses activités en dehors du site ce qui va à l'encontre des politiques de Wyskill ; ou</li>
    <li>tel que déterminé par Wyskill, à son entière discrétion.</li>
  </ul>

  <h5>3.2 Co-formateurs et assistants d'enseignement</h5>
  <p>
    La plate-forme Wyskill vous permet d'ajouter d'autres utilisateurs comme co-boosteurs ou assistants d'enseignement pour les formations et/ou événements que vous gérez. En ajoutant un co-boosteur ou un assistant d'enseignement, vous comprenez que vous les autorisez à prendre&nbsp;certaines mesures&nbsp;qui affectent votre compte Wyskill et vos Contenus soumis. La violation des conditions et politiques Wyskill par votre co-boosteur ou assistant d'enseignement peut également avoir un impact sur votre compte Wyskill et le Contenu soumis. Wyskill n'est pas en mesure de vous conseiller ni d'arbitrer des litiges entre vous et ces utilisateurs.
  </p>
  <h5>3.3 Relation avec les autres utilisateurs</h5>
  <p>
    Les boosteurs n'ont pas de relation contractuelle directe avec les participants, de sorte que les seuls renseignements que vous recevrez sur les participants sont ceux qui vous sont fournis par l'entremise des Services. Vous vous engagez à ne pas utiliser les données que vous recevez à d'autres fins que celles de fournir vos services à ces participants sur la plate-forme Wyskill, et à ne pas solliciter des données personnelles supplémentaires ni stocker les données personnelles des participants en dehors de la plate-forme Wyskill. Vous êtes tenu d'indemniser Wyskill en cas de réclamation découlant de votre utilisation des données personnelles des participants.
  </p>
</div>
  
  
<div id="section4" 
     class="terms-section">
  <h4>4. Tarification</h4>
  <h5>4.1 Fixation des prix</h5>
  <p>
    Lors de la création de Contenu soumis disponible à l'achat sur Wyskill, vous serez invité à sélectionner un prix de base («&nbsp;<b>Prix de base</b>&nbsp;») pour votre Contenu soumis à partir d'une liste tarifaire. Vous pouvez également choisir d'offrir votre Contenu soumis gratuitement.
  </p>
</div>

    
<div id="section5" 
     class="terms-section">
  <h4>5. Paiements</h4>

  <h5>5.1 Part de revenus</h5>
  <p>
    Lorsqu'un participant achète votre Contenu soumis, nous calculons le montant brut de la vente comme le montant réellement reçu par Wyskill de la part du participant («&nbsp;<b>Montant brut&nbsp;»). De ce montant, nous soustrayons les taxes sur les transactions, les frais de service et de traitement de 3&nbsp;% pour toute vente effectuée par un fournisseur, et tout montant payé à des tiers dans le cadre des Programmes promotionnels pour calculer le montant net de la vente («&nbsp;Montant net&nbsp;»).</b>
    <br/>
    <br/>
    En cas de modification de ce taux de paiement, nous vous donnons un préavis de 30&nbsp;jours au moyen de canaux de communication directe, comme le courrier électronique par l'entremise de nos Services.
  </p>

  <h5>5.2 Réception des paiements</h5>
  <p>
    Pour que nous puissions vous payer en temps opportun, vous devez posséder un compte PayPal, ou un compte en banque français (uniquement pour les résidents de la France) en règle et nous tenir informés de l'adresse électronique correcte associée à votre compte. Vous devez également fournir tout renseignement d'identification ou document fiscal&nbsp;nécessaire au paiement des montants dus. Vous convenez en outre que nous avons le droit de retenir les impôts appropriés sur vos paiements. Nous nous réservons le droit de retenir des paiements ou d'imposer d'autres pénalités si nous ne recevons pas de vous les renseignements d'identification ou les documents fiscaux appropriés. Vous comprenez et convenez que vous êtes responsable en dernier ressort de tout impôt sur votre revenu.
    <br/>
    <br/>
    En tant que boosteur, vous avez la responsabilité de déterminer si vous êtes admissible à être payé par une entreprise française. Nous nous réservons le droit de ne pas verser de fonds en cas de fraude identifiée, de violation des droits de propriété intellectuelle ou d'autres violations de la loi.
    <br/>
    <br/>
    Si nous ne pouvons pas régler les fonds sur votre compte de paiement après le délai fixé par votre État, pays ou autre autorité gouvernementale dans ses lois sur les biens non réclamés, nous pouvons traiter les fonds qui vous sont dus conformément à nos obligations légales, y compris en soumettant ces fonds à l'autorité gouvernementale appropriée comme l'exige la loi.  
  </p>

  <h5>5.3 Remboursements</h5>
  <p>
    Vous reconnaissez et acceptez que les participants ont le droit de recevoir un remboursement, tel que détaillé dans les&nbsp;<a [routerLink]="" (click)="goToGeneralTerms()">Conditions d'utilisation</a>. Les boosteurs ne recevront aucun revenu provenant de transactions pour lesquelles un remboursement a été accordé en vertu des Conditions générales d'utilisation.
    <br/><br/>
    Si un participant demande un remboursement après que nous ayons effectué le paiement du boosteur concerné, nous nous réservons le droit soit (1) de déduire le montant du remboursement du prochain paiement envoyé au boosteur, soit (2) si aucun autre paiement n'est dû au boosteur ou si les paiements sont insuffisants pour couvrir les montants remboursés, de demander au boosteur de rembourser toute somme qui a été remboursée aux participants pour son Contenu soumis.
  </p>
</div>

<div id="section6" 
     class="terms-section">
  <h4>6. Marques déposées</h4>
  <p>
    Tant que vous êtes un formateur publié soumis aux exigences ci-dessous, vous pouvez utiliser nos marques déposées lorsque nous vous autorisons à le faire.
    <br/><br/>
    Vous devez&nbsp;:
  </p>
  <ul>
    <li>utiliser uniquement les images de nos marques déposées que nous mettons à votre disposition, comme indiqué dans les lignes directrices que nous publions&nbsp;;</li>
    <li>utiliser uniquement nos marques déposées dans le cadre de la promotion et de la vente de votre Contenu soumis Wyskill ou de votre participation sur Wyskill ; et</li>
    <li>vous conformer immédiatement à notre demande de cessation d'utilisation de nos marques déposées, le cas échéant.</li>
 </ul>
  <p>
    Vous ne devez pas&nbsp;:
  </p>
  <ul>
    <li>utiliser nos marques déposées de façon trompeuse ou dénigrante&nbsp;;</li>
    <li>utiliser nos marques déposées d'une manière qui implique que nous endossons, commanditons ou approuvons votre Contenu soumis ou services&nbsp;; ou</li>
    <li>utiliser nos marques déposées d'une manière qui viole les lois applicables ou en rapport avec un sujet ou du contenu obscène, indécent ou illégal.</li>
  </ul>
</div>


<div id="section7" 
     class="terms-section">
  <h4>7. Suppression de votre compte</h4>
  <p>
    Vous comprenez que si des participants se sont déjà inscrits à votre Contenu soumis, votre nom et le Contenu soumis resteront accessibles à ces participants après la suppression de votre compte. Si vous avez besoin d'aide ou que vous rencontrez des difficultés pour supprimer votre compte, vous pouvez nous contacter via notre&nbsp;<a href="mailto:contact@wyskill.com">Centre de support</a>.
  </p>
</div>


<div id="section8" 
     class="terms-section">
  <h4>8. Modalités juridiques diverses</h4>

  <h5>8.1 Mise à jour des présentes Conditions</h5>
  <p>
    De temps à autre, nous pouvons mettre à jour ces Conditions pour clarifier nos pratiques ou pour refléter des pratiques nouvelles ou différentes (comme lorsque nous ajoutons de nouvelles fonctionnalités), et Wyskill se réserve le droit, à sa seule discrétion, de modifier et/ou d'apporter des changements à ces Conditions. à tout moment. Si nous apportons un changement important, nous vous en informerons en utilisant des moyens importants tels que par courrier électronique envoyé à l'adresse électronique indiquée dans votre compte ou en publiant un avis via nos Services. Les modifications entreront en vigueur le jour de leur publication, sauf indication contraire.
    <br/><br/>
    Votre utilisation continue de nos Services après l'entrée en vigueur des modifications signifie que vous acceptez ces modifications. Toutes les Conditions révisées remplaceront toutes les Conditions précédentes.
  </p>

  <h5>8.2 Traductions</h5>
  <p>
    Toute version des présentes Conditions publiée dans une langue autre que le français est uniquement fournie par souci de commodité. Vous comprenez et acceptez qu'en cas de conflit, la version en langue française prévaudra.
  </p>

  <h5>8.3 Relation entre les deux parties</h5>
  <p>
    Les deux parties conviennent qu'aucune relation de coentreprise, de partenariat, d'emploi, de sous-traitance ou de représentation légale n'existe entre elles.
  </p>

  <h5>8.4 Clause de survie</h5>
  <p>
    Les sections suivantes resteront en vigueur après l'expiration ou la résiliation des présentes Conditions&nbsp;: 2 (Licence concédée à Wyskill), 3.3 (Relation avec les autres utilisateurs), 5.3 (Réception des paiements), 5.4 (Remboursements), 7 (Suppression de votre compte) et 8 (Modalités juridiques diverses).
  </p>
</div>


<div id="section9" 
     class="terms-section">

  <h4>9. Comment nous contacter ?</h4>
  <p>
    Le meilleur moyen de nous contacter consiste à passer par notre&nbsp;<a href="mailto:contact@wyskill.com">équipe de support</a>. Nous serions ravis que vous nous fassiez part de vos questions, préoccupations et commentaires sur nos Services.
  </p>
</div>