<div class="container row justify-content-center mx-auto">

  <div class="col-11">

    <!-- Start user Page Head section -->
    <div class="row user-head w-100">

      <!-- Start user PP section -->
      <div class="col-3 my-auto">
        <div class="pp-user">
          <!-- Si l'utilisateur a une PP afficher sa PP -->
                <!-- <img class="photo-author rounded-circle ml-5" [src]="user.ppLink" 
                                                          alt="photo de profil utilisateur"
                                                          height="180vw"
                                                          width="180vw"
                                                          *ngIf="user.ppLink">

          <img class="photo-author rounded-circle ml-5"  src="https://firebasestorage.googleapis.com/v0/b/network-55b29.appspot.com/o/images%2Fusers%2Fuser-default.png?alt=media&token=bacaac7c-2e1b-4d24-8205-0964e65df549" 
                                                    alt="photo de profil utilisateur"
                                                    height="110px"
                                                    width="110px"
                                                    *ngIf="!user.ppLink"> -->

          <app-user-avatar [photoUrl]="user.ppLink" 
                           [name]="user.getName()" 
                           alt="photo de profil utilisateur">
          </app-user-avatar>
        </div>
      </div> <!-- End user PP section -->
      <!-- Start user Info section -->
      <div class="col-9">
        <!-- Start user ID section -->
        <div class="user-info">
          <h5 class="user-name">
            {{ user.firstname }} {{ user.lastname }}

            <app-icon-booster [isBooster]="user.isBooster">
            </app-icon-booster>
<!-- 
            <app-button-edit class="ml-5" 
                              (click)="openHeadUserModal()"
                              *ngIf="isUser">
            </app-button-edit> -->

            <app-button-edit class="ml-5" 
                             (click)="goToUserSettings()"
                             *ngIf="isUser">
            </app-button-edit>

          </h5>
          <h6>{{ user.title }}</h6>
          <app-description-section [description]="user.bio">
          </app-description-section>
        </div> <!-- End user ID section -->
      </div>  <!-- End user Info section -->

      <!-- Start user contact section -->
      <!-- <div class="row w-100 user-contact my-3">
        <div class="col-6 text-center net-post"> 
          <span class="networkers mr-5"><b>12 Networkers</b></span>    
          <span class="user-posts"><b>20 Posts</b></span> 
        </div>
        <div class="col-6 center-block connect-msg">
          <div class="btn-group">
            <button id="se-connecter" type="button" 
                                      class="mr-3 btn btn-light"
                                      *ngIf="!isUser">
              <b>+ Se connecter</b>
            </button>
            <button id="message" type="button"
                                class="btn btn-light"
                                *ngIf="!isUser">
              <b> Message</b>  
            </button>
          </div>
        </div>
      </div>  -->
      <!-- End user contact section -->

      <ul id="user-home-link" class="nav user-nav nav-pills nav-justified mt-4">

        <li class="nav-item">
          <a class="nav-link" id="pills-category-tab" 
                              [ngClass]="{ 'active':activeTab === getPanelName().HOME}" 
                              (click)="displayPanel(getPanelName().HOME)"
                              data-toggle="pill" 
                              role="tab" 
                              aria-controls="pills-category" 
                              aria-selected="false">

            <span>ACCUEIL</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-category-tab" 
                              [ngClass]="{ 'active':activeTab === getPanelName().COURSES}" 
                              (click)="displayPanel(getPanelName().COURSES)"
                              data-toggle="pill" 
                              role="tab" 
                              aria-controls="pills-category" 
                              aria-selected="false">

            <span>FORMATIONS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-category-tab" 
                              [ngClass]="{ 'active':activeTab === getPanelName().EVENTS}" 
                              (click)="displayPanel(getPanelName().EVENTS)"
                              data-toggle="pill" 
                              role="tab" 
                              aria-controls="pills-category" 
                              aria-selected="false">

            <span>ÉVÉNEMENTS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-category-tab" 
                              [ngClass]="{ 'active':activeTab === getPanelName().NETWORK}" 
                              (click)="displayPanel(getPanelName().NETWORK)"
                              data-toggle="pill" 
                              role="tab" 
                              aria-controls="pills-category" 
                              aria-selected="false">

            <span>COMMUNAUTÉ</span>
          </a>
        </li>
      </ul>
    
          
    </div> <!-- End user Page Head section -->

    <!-- Tab content (home / courses / events / network) -->
    <div class="tab-content" 
         id="myTabContent">

      <div class="tab-content">
        <!-- Tab content home courses-carousel events-carousel -->
        <div class="tab-pane fade" 
             id="home"
             role="tabpanel" 
             [ngClass]="{ 
                          'active':activeTab === getPanelName().HOME,
                          'show':activeTab === getPanelName().HOME 
                        }"
             aria-labelledby="pills-course-tab">

          <app-user-home [user]="user"
                         [events]="getItemsByPublishedStatus(user.events, true)"
                         [courses]="getItemsByPublishedStatus(user.courses, true)">
          </app-user-home>
        </div>

        <!-- Tab content courses list  -->
        <div class="tab-pane fade" 
             id="courses"
             role="tabpanel" 
             [ngClass]="{ 
                      'active':activeTab === getPanelName().COURSES,
                      'show':activeTab === getPanelName().COURSES 
                    }"
             aria-labelledby="pills-course-tab">


          <div *ngIf="user.courses && user.courses.length" 
              class="row w-100 my-5">

            <div class="col-12">

              <h5>
                En ligne <span>({{ getItemsByPublishedStatus(user.courses, true).length }})</span>
              </h5>
              <hr class="mb-4">
              <app-item-card-list [items]="getItemsByPublishedStatus(user.courses, true)"
                                  [isAuthor]="isUser">
              </app-item-card-list>
            </div>
          </div>     

          <div *ngIf="isUser && user.courses && user.courses.length" 
               class="row w-100 justify-content-center my-5">

            <div class="col-12">

              <h5>
                En cours de création <span>({{ getItemsByPublishedStatus(user.courses, false).length }})</span>
              </h5>
              <hr class="mb-4">
              <app-item-card-list [items]="getItemsByPublishedStatus(user.courses, false)"
                                  [isAuthor]="isUser">
              </app-item-card-list>
            </div>
          </div>   

          <div *ngIf="!user.courses || !user.courses.length && isUser" 
               class="create-item create-course text-center my-5">
            <h5 class="mb-4">Créer votre première formation</h5>

            <!-- create a new course -->
            <button class="btn btn-gen" (click)="onNewCourse()">
              Créer une formation
            </button>
          </div>

        </div>
    
        <!-- Tab content events list  -->
        <div class="tab-pane fade" id="events"
                                    role="tabpanel" 
                                    [ngClass]="{ 'active':activeTab === getPanelName().EVENTS,
                                                'show':activeTab === getPanelName().EVENTS }"
                                    aria-labelledby="pills-course-tab">


          <div *ngIf="user.events && user.events.length"      
               class="row w-100 my-5">
                
            <div class="col-12">

              <h5>
                À venir <span>({{ getItemsByPublishedStatus(user.events, true).length }})</span>
              </h5>
              <hr class="mb-4">
              <app-item-card-list [items]="getItemsByPublishedStatus(user.events, true)"
                                  [isAuthor]="isUser">
              </app-item-card-list>   
            </div>  
          </div>

          <div *ngIf="isUser && user.events && user.events.length" 
              class="row w-100 my-5">
               
            <div class="col-12">
              <h5>
                En cours de création <span>({{ getItemsByPublishedStatus(user.events, false).length }})</span>
              </h5>
              <hr class="mb-4">

              <app-item-card-list [items]="getItemsByPublishedStatus(user.events, false)"
                                  [isAuthor]="isUser">
              </app-item-card-list>
            </div>
          </div>

          <div *ngIf="!user.events || !user.events.length && isUser" 
               class="create-item create-event text-center">

            <h5 class="mb-4">Créer votre premier évènement</h5>

            <!-- create a new course -->
            <button class="btn btn-gen" (click)="onNewEvent()">
              Créer un événement
            </button>
          </div>
        </div>


        <!-- Tab content network  -->
        <div class="tab-pane fade" 
            id="events"
            role="tabpanel" 
            [ngClass]="{ 
              'active':activeTab === getPanelName().NETWORK,
              'show':activeTab === getPanelName().NETWORK
              }"
            aria-labelledby="pills-course-tab">

          <h5 class="text-center">À venir</h5>

        </div>

      </div>
    </div>
  </div>
</div><!-- End User Page -->
