<div class="wrapper h-100 w-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-10 py-4 px-3 text-center">

          <div class="auth-title mb-4">

            <a routerLink='/home' 
               routerLinkActive="router-link-active">

              <img src="assets/img/wyskill_logo_sm.png"
                    width="150"  
                    class="d-inline-block mb-4"  
                    alt="logo Wyskill">
            </a> 

            <h4 class="main-color mb-5">Boostez votre évolution</h4>

          </div>

      <div class="alert alert-success text-center" 
           *ngIf="email && successMessage">

        <h3>Félicitations !</h3>

        <p class="success-message-text">
          {{ successMessage }}
        </p>

        <countdown #countdown [config]="{leftTime: 6, format: ''}" 
                              (event)="onTimerFinished($event)">
        </countdown>
      </div>

      <div class="email-not-verified alert alert-danger" 
           *ngIf="errorMessage && !successMessage">

        <p class="email-not-verified-text">
          {{ errorMessage }}
        </p>
      </div>

      <app-email-box *ngIf="!gotLocalStorage"
                     (email)="emailVerification($event)">
      </app-email-box>

      <!-- <app-verification *ngIf="(mode === 'verifyEmail' || mode === 'signIn') && isEmailVerified"
                        (successMessage)="successMessage = $event"
                        (errorMessage)="errorMessage = $event"
                        [emailUser]="email"
                        [idUser]="idUser">
      </app-verification> -->

      <!-- <app-password-reset *ngIf="mode === 'resetPassword' && email"
                          [actionCode]='actionCode'
                          (successMessage)="successMessage = $event"
                          (errorMessage)="errorMessage = $event"
                          [emailUser]="email">
      </app-password-reset> -->

    </div>
  </div>
</div>