<!-- Section complete -- Add video Guide -->
<div class="row align-items-center justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">

    <!-- <p class="alert alert-success text-center">
      Vous avez terminé toutes les étapes avec succès.
    </p> -->
    <h3 class="mb-5 text-center">{{ itemFormService.item.title }}</h3>
    
    <div class="row" 
         *ngIf="itemFormService.isEvent">

      <h5 class="mt-3">Dates de l'évènement :</h5>
      <span>Date de début :</span><span>{{ getEventDates().startDate }}</span>
      <br>
      <span>Date de fin :</span><span>{{ getEventDates().endDate }}</span>

     <br><hr>

      <h5 class="mt-3">Adresse du lieu :</h5>
      <p>{{ getEventLocation().location }}</p>
      <p>{{ getEventLocation().address }}</p>
      <p>{{ getEventLocation().city }}</p>
      <p>{{ getEventLocation().zip }}</p>
      <p>{{ getEventLocation().country }}</p>
    </div>

    <div class="item-descp">

      <span>{{ this.itemFormService.item.price }} €</span>

      <br><hr>

      <div class="row">
        <div *ngIf="this.itemFormService.isMediaOk()"
             class="item-c-img col-8 text-center mb-3">

          <img [src]="this.itemFormService.item.imageLink"
                width="100%">
        </div>
      </div>
      <div class="row">
       <div *ngFor="let tag of itemFormService.item.tags; let i = index" 
            class="col-auto mb-3">

          <span class="tag py-2 px-3"> 
            {{ tag.name }}
          </span>
        </div>
      </div>

    </div>

    <!-------------------------------- Buttons "Save" / "Skip" / "Back" ---------------------------->
    <ul class="nav nav-item justify-content-between mx-auto mt-5">
      <li>
        <button type="button" class="btn btn-default btn-prev" 
                              (click)="onBack()">
          Précédent
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default btn-next" 
                              (click)="onCreateItem()">
          <span *ngIf="itemFormService.isCourse">Créer ma formation</span>
          <span *ngIf="itemFormService.isEvent">Créer mon événement</span>
        </button>
      </li>
    </ul>

  </div>
</div>