<!-- Section complete -- Add video Guide -->
<div class="tab-pane" role="tabpanel" id="complete">
  <h3>Complete</h3>
  <p>You have successfully completed all steps.</p>

  <div>
    <span>Titre : </span>
    <span>{{ getTitleFormValue() }}</span>

    <br><hr>

    <span>Categorie : </span>
    <span>{{ getCategoryFormValue() }}</span>

    <br><hr>

    <span>Prix : </span>
    <span>{{ getPriceFormValue() }}</span>

    <br><hr>

    <span>Image : </span>
    <img class="border" style="max-width:400px" [src]="getImageFormValue()">

  </div>

  <ul class="list-inline pull-right mt-5">
    <li>
        <button type="button" class="btn btn-default prev-step"
                              (click)="onBack()">Previous</button>
    </li>
    <li>
        <button type="button" class="btn btn-primary next-step" 
                              (click)="onCreateItem()">
                              Créer ma formation
        </button>
    </li>
  </ul>
</div>