<div class="tab-pane" role="tabpanel" id="step1">
  <!-- Section title -->
  <div class="row justify-content-center">
    <div class="col-8">
      <h3 class="head-item-form ">Quel est le titre de votre formation ?</h3>
      <form [formGroup]="titleForm" role="form" class="form-item">
        <input type="text" class="form-control form-control-lg" 
                           formControlName = "title"
                           id="title"
                           onkeydown="return (event.key !== '\''
                                              && event.key !== ','
                                              && event.key !== ';'
                                              && event.key !== '='
                                              && event.key !== '>'
                                              && event.key !== '<'
                                              && event.key !== '.'
                                              && event.key !== ':'
                                              && event.key !== '`'
                                              && event.key !== '_'
                                              && event.key !== '§')"
                           placeholder="Saisissez le titre de votre formation...">
      </form>
      <ul class="nav nav-item btns-item-form justify-content-end border mx-auto">
        <li>
          <button type="button" id="continue" 
                                class="btn btn-default btn-next" 
                                *ngIf="!titleForm.invalid"
                                (click)="onSetTitle()">
            Continuer
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>