<!-- Section title -->
<div class="row align-items-center justify-content-center pt-5">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <h3 class="head-item-form">
      Quel est le titre de votre <span *ngIf="itemFormService.isEvent">évènement</span><span *ngIf="itemFormService.isCourse">formation</span> ?
    </h3>
    <form [formGroup]="titleForm" 
          role="form" 
          class="form-item">

      <input type="text" class="form-control" 
                          formControlName = "title"
                          id="title"
                          onkeydown="return (event.key !== '\''
                                            && event.key !== ','
                                            && event.key !== ';'
                                            && event.key !== '='
                                            && event.key !== '>'
                                            && event.key !== '<'
                                            && event.key !== '.'
                                            && event.key !== ':'
                                            && event.key !== '`'
                                            && event.key !== '_'
                                            && event.key !== '§')"
                          [placeholder]=getTitlePlaceholder()>
    </form>
    <ul class="nav nav-item btns-item-form justify-content-between mx-auto">
      <li>
          <button type="button" 
                  class="btn btn-default btn-prev" 
                  (click)="onCloseForm()">
            Quitter
          </button>
      </li>
      <li>
          <button type="button" 
                  id="continue" 
                  class="btn btn-standard" 
                  *ngIf="!titleForm.invalid"
                  (click)="onSetTitle()">
            Continuer
          </button>
      </li>
    </ul>
  </div>
</div>
