<div id="legal-notice">
  <div class="terms-header">
    <h2>MENTIONS LÉGALES</h2>
  </div>

  <div>
    <h4>Éditeur</h4>
    <p>
      Le site internet <a href="https://www.wyskill.com">wyskill.com</a> est édité par :
      <br/><br/>
      Monsieur Kévin MOUNDANGUI, Fondateur de WYSKILL 
      <br/><br/>
      Téléphone : +33 7 56 96 09 72 
      <br/><br/>
      Adresse électronique : <a href="mailto:contact@wyskill.com">contact@wyskill.com</a>
    </p>
  </div>

  <div class="terms-section">
    <h4>Directeur de la publication</h4>
    <p>
      Monsieur Kévin MOUNDANGUI, Fondateur de WYSKILL
    </p>
  </div>

  <div class="terms-section">
    <h4>Prestataire d’hébergement</h4>
    <p>
      Le site internet www.wyskill.com est hébergé par :
      <br/><br/>
      Heroku, Inc. dont le siège social est au 650 7th Street San Francisco, CA 94103.
      <br/><br/>
      Contact: <a href="https://www.heroku.com/contact">https://www.heroku.com/contact</a>
      <br/><br/>
      Politique de sécurité : <a href="https://www.heroku.com/policy/security">https://www.heroku.com/policy/security</a>
    </p>
  </div>
</div>