<div class="section-filter row">
  <div class="col-md-4">
    <select class="custom-select custom-select">
      <option selected value="0">Les plus pertinents</option>
      <option value="1">Les plus récents</option>
      <option value="2">Les plus notés</option>
      <option value="3">Les mieux notés</option>
    </select>
  </div>
  <div class="col-md-2">
    <span>Résultats ({{ items.length }})</span>
  </div>
</div>

<ul class="list-group">
  <li *ngFor="let item of items; let i = index" class="list-group-item mb-4">
    <div *ngIf="items[0].title" class="row">
      <div class="col-md-3 border border-primary">
        <img src="" width="200" height="150" class="d-inline-block border border-secondary" alt="">
      </div>
      <div class="col-md-6  border border-primary">
        <h3>{{ item.title }}</h3>
        <div class="section-auteur">
          <span>Par :</span>
            <img class="img-list-item-user" src="" alt="" width="15" height="15">
            <span class="author-name">{{ item.firstnameAuthor }} {{item.lastnameAuthor }}</span>
          </div>
          <span>{{ item.description }}</span>
        </div>
      <div class="col-md-3 border border-primary">
        <h5 *ngIf="item.price" class="item-price">{{ item.price }} €</h5>
        <!-- Changer le texte du bouton en fonction du type de l'item 
        <button type="button" class="btn btn-outline-secondary btn-lg"
                              (click) = "onViewItem(1)" 
                              *ngIf="item.type===0">Découvrir la formation</button>
        <button type="button" class="btn btn-outline-secondary btn-lg" 
                              *ngIf="item.type===1">Découvrir l'événement</button>

        -->
      </div>
    </div>
  </li>  
</ul>