.card {
    max-height: 65vh;
    width: 100%;
    
    border-color: none;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    -webkit-box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32); 
    -moz-box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32); 
    box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32);
}

.card-footer {

    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
}

.item-img{

    width:100%;
    height: 25vh;

    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
}

.card-item-price {

    font-weight: 500;
    font-size: x-large;
}

.conditions-section {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.iconify {
    font-size: 20px;
}

.iconify-safety {
    color: #3fc710;
}

.iconify-add-cart {
    color: #FFFFFF;
}

.btn-add-cart, .btn-consult {
    color: white;
    background-color: #179661;

    font-weight: 500;
}

.separation-line {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card-item-footer {

    bottom: 0;
    width:100%;
}

.save-item, .share-item {
      display: inline-block;
      vertical-align: top;
}

.vertical-line { 
    border-left: 1px solid black; 
    height: 2vh; 
    position:absolute; 
    left: 50%; 
} 

.card-item-footer {

    font-size: 0.8em;
}

.save-item, .share-item {

    width: 100%;
}

.iconify-save-item {
    font-size: 1em;
}

.iconify-share-item {
    font-size: 1em;
}

