<div id="create" 
     class="container-fluid">

  <div class="row justify-content-center">

    <div class="col-lg-6 col-md-8 text-center">
      <div class="h-logo my-5 mx-auto">

        <a routerLink='/home' 
            routerLinkActive="router-link-active">

          <img src="../../assets/img/wyskill_logo_sm.png" 
                width="150"  
                class="d-inline-block mb-4" 
                alt="logo Wyskill">
        </a>
        <h4 class="catch-p main-color">La solution digitale pour partager vos connaissances</h4>
      </div>
    </div>
  </div>

  <div class="row menu-create-item justify-content-center mt-3">

    <!-- promote an event -->
    <!-- <div class="col-3 d-flex flex-column my-2"
         (click)="onSetType('event')"> 
        
         (click)="goToLink('https://calendly.com/wyskill/discover')
        -->

    <div class="col-lg-3 col-md-5 col-sm-10 d-flex flex-column my-2">

      <div class="menu-item-option btn-animation text-center shadow p-3"     
           (click)="onSetType('event')">

        <h5 class="menu-item-option-title">Promouvoir un événement</h5>

        <div class="menu-item-option-bottom">

          <img  class="item-option-img" 
                src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fpromote.png?alt=media&token=1d4d62fc-198d-4e67-a020-bdce1dbd626b"
                alt="Publier une annonce de formation en ligne ou d'évènement">

          <h6 class="menu-item-option-txt mt-2 mb-2">
            Vous souhaitez promouvoir votre événement ?
          </h6>

        </div>

      </div>
    </div>

    <!-- <div class="col-4 d-flex flex-column my-2">

      <div class="card menu-item-option text-center shadow p-3">

        <div>

          <img class="item-option-img my-4" 
               src="assets/img/online-course-02.png" 
               width="150"
               alt="créer une formation en ligne">
        </div>

        <div class="card-body d-flex flex-column">

          <h6 class="mt-2 mb-5">Vous ne trouvez pas la formation ou l'évènement qu'il vous faut ?</h6>
    
          <div class="mt-auto">
            <button class=" btn btn-new-item btn-block bg-main-color"
                    (click)="goToGForm()">
              Envoyer une demande
            </button>
          </div>

        </div>

      </div>
      
    </div> -->

    <!-- create a online course -->
    <!-- <div class="col-3 d-flex flex-column my-2"
         (click)="onSetType('course')"> 
        
            (click)="goToLink('https://calendly.com/wyskill/discover')"
        -->

    <div class="col-lg-3 col-md-5 col-sm-10 d-flex flex-column my-2">

      <div class="menu-item-option btn-animation text-center shadow p-3"
           (click)="onSetType('course')">

        <h5 class="menu-item-option-title">Créer une formation</h5>

        <div class="menu-item-option-bottom">

          <img class="item-option-img" 
               src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fonline-learning.png?alt=media&token=ea5051c5-00c8-4671-b166-931807a0ec2b"
               alt="Créer une formation en ligne">

          <h6 class="menu-item-option-txt mt-2 mb-2">
            Vous souhaitez créer une formation en ligne ?
          </h6>
        </div>
      </div>
    </div>

    <!-- Become a mentor / a coach -->
    <!-- <div class="col-lg-3 col-md-5 col-sm-10 d-flex flex-column my-2">

      <div class="menu-item-option btn-animation text-center shadow p-3"
           (click)="goToLink('https://calendly.com/wyskill/discover')">

        <h5 class="menu-item-option-title">Devenir un boosteur</h5>


        <div class="menu-item-option-bottom">
          
          <img class="item-option-img" 
                src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Ftutor.png?alt=media&token=539fdec9-41df-472c-ac98-c27ae97b3aa7" 
                alt="Créer une formation en ligne">
   

          <h6 class="menu-item-option-txt mt-2 mb-2">
            Vous souhaitez accompagner des porteurs de projet ?
          </h6>
        </div>
      </div>
    </div> -->

  </div>
</div>