#create {

    height: 100vh;
}

.catch-p {

    color: gray;
    font-size: x-large;
    font-weight: 450;
}

.item-option-btn {

    margin-top: auto;
}

.menu-item-option {

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-item-option:hover {

    background-color: rgb(250, 250, 250);
}