@import '/src/app/shared/style/color.scss';

#create {

    height: 100vh;
}

.catch-p {

    font-size: x-large;
    font-weight: 450;
}

.item-option-btn {

    margin-top: auto;
}

.menu-item-option {

    min-height: 55vh;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-item-option:hover, .menu-item-option:focus {

    cursor: pointer;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}

.btn-new-item {

    color: white;

    -webkit-border-radius: 500px;
	-moz-border-radius: 500px;
    border-radius: 500px;
}

.btn-new-item:hover {

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}