@import '/src/app/shared/style/color.scss';
@import '/src/app/shared/style/buttons-style.scss';

#create {

    min-height: 91vh;
}

.catch-p {

    font-size: x-large;
    font-weight: 450;
}

.menu-item-option {

    width: 95%;
    min-height: 45vh;

    margin-bottom: 4vh;

    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
}

.menu-item-option-title {

    font-size: 1.2rem;
}

.item-option-img {

    width: 60%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.menu-item-option-bottom {

    margin-top: auto;
    margin-bottom: 0;
}

/*
    sm
*/
@media only screen and (max-width: 576px)
{

    .menu-item-option {

        width: 90%;
        min-height: 35vh;
    }

    .item-option-img {

        width: 50%;
    }
    
}