<!-- Start Price Card -->
<div *ngIf="iItem" 
     class="card item-card shadow-sm" 
     [ngStyle]="{'width':width, 'height':height}">  

  <span *ngIf="isAuthor"
        class="iconify card-delete float-right" 
        data-inline="false" 
        data-icon="eva:close-fill">
  </span>

  <img class="item-img card-img-top" 
       [src]="iItem.imageLink" 
       height=""
       width="100%"
       (click)="onConsultItem()">

  <div class="card-body align-items-center"
       (click)="onConsultItem()">

    <p class="card-title" [attr.title]=iItem.title>
      {{ iItem.title.substr(0,20) }}<span *ngIf="iItem.title.substr(20)">...</span>
    </p>

    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <!-- price -->
        <span class="card-item-price">
          <b>{{ iItem.price }} €</b>
        </span>
      </div>
      <div *ngIf="iItem.globalNote" 
           class="col-auto">
        <!-- rating -->
        <app-rating *ngIf="iItem.globalNote"
                    [style]="0" 
                    [nbRatings]="iItem.nbRatings" 
                    [globalNote]="iItem.globalNote"
                    (click)="onConsultCourse(iItem)"
                    [size]="0.9">
        </app-rating>
      </div>
    </div>

  </div>
  <div *ngIf="isAuthor && !iItem.published" 
       class="card-footer">

    <button class="btn btn-block btn-sm btn-success"
            (click)="onConsultItem()">
      Publier
    </button>

  </div>
</div>  <!-- End Card -->