<!-- Start Price Card -->
<div *ngIf="iItem" class="card item-card shadow-sm" 
                   (click)="onConsultItem()"
                   [ngStyle]="{'width':width, 'height':height}">  

  <img class="item-img card-img-top" [src]="iItem.imageLink" height="50%" width="100%">
  <div class="card-body align-items-center">

    <p class="card-title" [attr.title]=iItem.title>
      {{ iItem.title.substr(0,20) }}<span *ngIf="iItem.title.substr(20)">...</span>
    </p>

  </div>
  <div class="card-footer">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <!-- rating -->
        <span class="card-item-price">
          <b>{{ iItem.price }} €</b>
        </span>
      </div>
      <div *ngIf="iItem.globalNote" 
           class="col-auto">
        <!-- rating -->
        <app-rating *ngIf="iItem.globalNote"
                    [style]="0" 
                    [nbRatings]="iItem.nbRatings" 
                    [globalNote]="iItem.globalNote"
                    (click)="onConsultCourse(iItem)"
                    [size]="0.9">
        </app-rating>
      </div>
    </div>
  </div>
</div>  <!-- End Card -->