.icon-star {

    color: #2E7B9C;
    font-size: 1.6em;
}

.filter-text {
    display: inline-block;
}

.btn-filter {

    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
}

.btn-template-ok {
    background-color: #2E7B9C;
    width: 55%;
    margin-right: 5%;
}

.btn-template-cancel {
    width: 40%;
}