<div class="container-filter">
  <form [formGroup]="filterForm" action="" class="filter-form">
  
    <div class="form-row">
      <div class="col-5">
        <select class="form-control" 
                formControlName="category"  
                (change)="selectCategory($event.target.value)"
                id="category" 
                [(ngModel)]="idCategorySelected"
                required>

          <option *ngFor="let cat of this.categoriesValues" 
                  [value]="cat.id"
                  [selected]="catRestored && (cat.id == catRestored.id) ? true : null"> 
            {{ cat.name }}
          </option>
        </select>

      </div>
      <div class="col-7">
        
        <div class="form-group has-feedback">
    
          <input type="text"
                  formControlName="search"
                  class="form-control input-search" 
                  name="search" 
                  id="search" 
                  placeholder="Que recherchez-vous ?"
                  autocomplete="off">
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="onSearchWithFilter()">
      Rechercher
    </button>

  </form>
</div>