<ul class="list-group">
  <li *ngFor="let item of items; let i = index" class="list-group-item mb-4">
    <div class="row border border-success">
      <div class="col-3 border">
        <img class="item-img" [src]="item.imageLink" height="80vw">
      </div>
      <div class="col-7 border">
        <h5>{{ item.title }}</h5>
        <div class="item-section-auteur">
          <span>Par :</span>
            <img class="item-img-author" src="" alt="" width="15" height="15">
            <span class="item-author-name">{{ getMainAuthor(item) }}</span>
          </div>
          <span class="item-category">{{ item.category.name }}</span>
      </div>
      <div class="col-2 border">
        <span class="item-price">{{ item.price }} €</span>
      </div>
    </div>
  </li>
</ul>

