@import "../../../shared/style/buttons-style.scss";
@import "../../../shared/style/color.scss";

.item-path {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.sticky {
   position: sticky;
   top: 18vh;
}

.iconify {
    font-size: 35px;
}

.heading {

    align-items: center;
    text-align: center;

    // border-radius: 40px 40px 0 0;
    // -moz-border-radius: 40px 40px 0 0;
    // -webkit-border-radius: 40px 40px 0 0;
  
    // -webkit-box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32); 
    // -moz-box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32); 
    // box-shadow: 0px -2px 4px 1px rgba(155,155,155,0.32);

    margin-bottom: 5vh ;
    padding-bottom: 3vh;
    padding-top: 2vh;
    
    /* background: linear-gradient(rgba(57, 129, 160, 0.8), white 50.71%); */
}

.title-section {
    margin-bottom: 3vh;
}

.item-title {
    font-weight: 500;
    font-size: 2em;
    color: rgb(61, 60, 60);
}

.item-subtitle {
    font-weight: 400;
    font-size: 1.22em;
    color: gray;
}

.feature-text > i{
    margin-right: 1vw;
}

.rating-link {
    text-decoration: none;
}

.btn-tags {
    
    align-items: center;
    text-align: left;
}

.item-block {
    margin-top: 10vh;
}

.check-list > li {

    list-style-type: none;
    margin-bottom: 2.5vh;
}

.check-list > li > i{

    color: #179661;
}

.btn-rating {

    color: white;
    background-color: #fcc632;
    font-weight: 500;
}