<!------------------------------------ Page Single Course ------------------------------------>
<!-- Si la formation n'existe pas  -->
<div *ngIf ="!hasItem">
  La formation n'existe pas
</div>

<!-- Si la formation existe  -->
<div class="container" *ngIf ="hasItem">
  <div class="row item-path">
    <span> chemin </span>
  </div>

  <div class="row item-content">
    <!-- Start Price Card -->
    <div class="col-md-3 offset-1">
      <div class="sticky">
        <app-card-image-price-item [id]="course.id"
                                   [imageLink]="course.imageLink" 
                                   [price]="course.price" 
                                   [nbRatings]="course.nbRatings" 
                                   [globalNote]="course.globalNote">
        </app-card-image-price-item>
      </div> 
    </div>  <!-- End Price Card -->

    <!-- Start page item Head -->
    <div class="col-lg-8">
      <div class="heading shadow-sm">
        <div class="title-section">
          <h2 class="item-title">
            {{ course.title }}
            <app-button-edit class="ml-5" 
                             (click)="openHeadItemModal()"
                             *ngIf="isAuthor()">
            </app-button-edit>
          </h2>
          <h3 class="item-subtitre">
            {{ course.catchPhrase }}
          </h3>
        </div>
        <div class="item-features">
          <div class="row">
            <div class="col-6">
              <span class="feature-text">
                <i id="glob" class="fa fa-globe" aria-hidden="true"></i>
                Français
              </span>
            </div>
            <div class="col-6">
              <span class="feature-text">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <b>Expérience requise :</b> 
                Aucune 
              </span>
            </div>
          </div>
          <hr> <!-- separation line -->
          <div class="row">
            <div class="col-6">
              <a class="rating-link" [routerLink]='"."' fragment='ratings'>
                <app-rating [style]="1" 
                            [nbRatings]="course.nbRatings" 
                            [globalNote]="course.globalNote">
                </app-rating>
              </a>
            </div>
            <div class="col-6">
              <span class="feature-text">
              <i id="info" class="fa fa-info-circle" aria-hidden="true"></i> 
                <b>Date de création : </b>
                {{ course.creationDate }}
              </span>
            </div>
          </div>
        </div>
      </div> <!-- End page item Head -->

      <!-- Start Author section -->
      <div class="item-block author-block">
        <app-card-author [author]="getMainAuthor()"></app-card-author>
      </div> <!-- End Author section -->

      <!-- Start Description section -->
      <div class="item-block description-block">
        <h5 class="title-cat">
          Description
          <app-button-edit class="ml-5" 
                           (click)="openDescriptionItemModal()"
                           *ngIf="isAuthor()">
          </app-button-edit>
        </h5>
        <hr> <!-- separation line -->
        <app-description-section [description]="course.description"></app-description-section>
        <span *ngIf="!course.description" (click)="openDescriptionItemModal()">
          Ajouter une description
        </span>
      </div> <!-- End Description section -->

      <!-- Start skills-to-acquire item section -->
      <div class="item-block skills-block">
        <h5 class="title-cat">
          Compétences à acquérir
          <app-button-edit class="ml-5" 
                           (click)="openSkillsItemModal()"
                           *ngIf="isAuthor()">
          </app-button-edit>
        </h5>
        <hr> <!-- separation line -->
        <div *ngIf="course.skillsToAcquire">
          <ul class="skills-list">
            <li *ngFor="let skill of getSkillsBeginning()">
              <i id="check" class="fa fa-check" aria-hidden="true"></i>
              <span class="skill-text">
                {{ skill }}
              </span> 
            </li>
            <li *ngIf="!moreSkillsShowed && checkSkillsLength()" id="skills-dots">...</li>
          </ul>
          <ul *ngIf="moreSkillsShowed" class="skills-list">
            <li *ngFor="let skill of getSkillsEnding()">
              <i id="check" class="fa fa-check" aria-hidden="true"></i>
              <span class="skill-text">
                {{ skill }}
              </span> 
            </li>
          </ul>
          <div *ngIf="checkSkillsLength()" (click)="seeMoreSkills()" id="btnSeeMoreSkills">
            + Voir plus
          </div>
        </div>
        <span *ngIf="!course.skillsToAcquire" (click)="openSkillsItemModal()">
          Ajouter des compétences à acquérir
        </span>
        
      </div> <!-- End skills-to-acquire item section -->

      <!-- Start section more author's items  -->
      <div *ngIf="getMainAuthor()" class="item-block skills-block">
        <h5 class="title-cat"> Plus de 
          <a (click)="goToUserPage()">
          {{ getMainAuthor().firstname }} {{ getMainAuthor().lastname }}
          </a>
        </h5>
        <hr> <!-- separation line -->
        <app-items-carousel *ngIf="mainAuthorItems" [iItems]="mainAuthorItems"></app-items-carousel>

      </div>   <!-- End section more author's courses  -->

      <!-- Start section Ratings -->
      <div id="ratings" class="item-block ratings-block">
        <h5 class="title-cat">Avis</h5>
        <hr> <!-- separation line -->
        <app-global-rating [ratings]="course.ratings"></app-global-rating>
        <button class="btn btn-primary my-5" (click)="openRatingCourseModal()">Évaluer la formation</button>
        <app-rating-list [ratings]="course.ratings"></app-rating-list>
      </div>   <!-- End section Ratings -->
    </div>
  </div>
</div>






            