<div [formGroup]="categorySelectForm">
  <select *ngIf="selectType === getSelectType().CAT_AND_SUB; else elseBlock"
          id="categorySelect"
          class="form-control select-category" 
          [ngStyle]="{'height':getHeight(), 'width':getWidth()}"
          formControlName="categorySelect"
          [(ngModel)]="categorySelectId"
          (change)="selectCategory($event.target.value)"
          required>
    <optgroup *ngFor="let cat of this.categoryValues">
      <option [value]="cat.id">{{ cat.name }}</option>
      <option *ngFor="let subCat of cat.subCategories" [value]="subCat.id">
        &nbsp;&nbsp;&nbsp;&nbsp;{{ subCat.name }}
      </option>
    </optgroup>
  </select>
  <ng-template #elseBlock>
    <select id="categorySelect"
          class="form-control select-category" 
          [ngStyle]="{
            'height':getHeight(),
            'width':getWidth(), 
            'border-radius': getRadius(), 
            '-moz-border-radius': getRadius(), 
            '-webkit-border-radius': getRadius()
          }"
          formControlName="categorySelect"
          [(ngModel)]="categorySelectId"
          (change)="selectCategory($event.target.value)"
          required>
      <option *ngFor="let cat of this.categoryValues" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </ng-template>
</div>