<form [formGroup]="passwordForm" class="password-form">

    <div class="form-group mb-3">
      <ng-template #popPasswordContent>
        <div *ngIf="errorPasswordMessageEmpty.length && !errorPasswordMessage.length" class="text-danger field-error-class">
            {{ errorPasswordMessageEmpty }}
        </div>
        <div *ngIf="!errorPasswordMessageEmpty.length && errorPasswordMessage.length" 
            class="text-danger field-error-class">
        <span>Le mot de passe doit contenir au moins :</span>
        <ul>
            <li *ngFor="let errorM of errorPasswordMessage"> {{ errorM }}</li>
            </ul>
        </div>
      </ng-template>
      <label for="password" class="sr-only">
          Mot de passe
          <span style="color: rgb(247, 103, 103);">*</span>
      </label>
      <div class="input-group">
          <input [type]="hidePassword ? 'password' : 'text'" 
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': shouldShowRequiredError('password') || shouldShowSignUpError('password') }"
                  formControlName="password"
                  id="password" 
                  minlength="8"
                  maxlength="30"
                  (keyup)="checkPassword()"
                  (change)="checkPassword()"
                  (keydown)="forbidOtherCharacters($event.key)"
                  aria-describedby="passwordHelp" 
                  placeholder="Mot de passe"
                  type="input"
                  placement="top"
                  triggers="manual" 
                  [ngbPopover]=popPasswordContent
                  container="body"
                  #popoverPassword="ngbPopover"
                  (click)="checkPassword() && (shouldShowRequiredError('password') || shouldShowSignUpError('password')) && popoverPassword.open()"
                  [autoClose]="'outside'"
                  autocomplete="new-password"
                  ng-hide="true"
                  required>

          <div class="input-group-append" *ngIf="hidePassword" (click)="hidePassword = !hidePassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility-off" 
                          data-inline="false">
                  </span>  
              </div>
          </div>

          <div class="input-group-append" *ngIf="!hidePassword" (click)="hidePassword = !hidePassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility" 
                          data-inline="false">
                  </span>
              </div>
          </div>
      </div>                  
    </div>
    <div class="form-group mb-3">
      <label for="confirmPassword" class="sr-only">
          Confirmation
          <span style="color: rgb(247, 103, 103);">*</span>
      </label>
      <ng-template #popConfirmPasswordContent>
          <div class="text-danger field-error-class">
              {{ errorConfirmPasswordMessage }}
          </div>
      </ng-template>
      <div class="input-group">
          <input [type]="hideConfirmPassword ? 'password' : 'text'"  
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': shouldShowRequiredError('confirmPassword') || shouldShowSignUpError('confirmPassword') }"
                  formControlName="confirmPassword"
                  id="confirmPassword" 
                  minlength="8"
                  maxlength="30"
                  (change)="checkConfirmPassword()"
                  (keyup)="checkConfirmPassword() && (shouldShowRequiredError('confirmPassword') || shouldShowSignUpError('confirmPassword')) && popoverConfirmPassword.open()"
                  (keydown)="forbidOtherCharacters($event.key)"
                  aria-describedby="passwordHelp" 
                  placeholder="Confirmer"
                  type="input"
                  placement="bottom"
                  triggers="manual" 
                  [ngbPopover]=popConfirmPasswordContent
                  container="body"
                  #popoverConfirmPassword="ngbPopover"
                  [autoClose]="'outside'"
                  ng-hide="true"
                  required>

          <div class="input-group-append" *ngIf="hideConfirmPassword" (click)="hideConfirmPassword = !hideConfirmPassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility-off" 
                          data-inline="false">
                  </span>  
              </div>
          </div>

          <div class="input-group-append" *ngIf="!hideConfirmPassword" 
                                          (click)="hideConfirmPassword = !hideConfirmPassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility" 
                          data-inline="false">
                  </span>
              </div>
          </div>
        </div>

        <small id="passwordHelp" 
                class="form-text text-muted my-2">
            Le mot de passe doit contenir au moins 8 caractères majuscules et minuscules, un chiffre ainsi que des symboles (tels que ! @ # $ % & : = + £ € * []()_-?).
        </small>
        
    </div>
</form>
<!-- <p class="text-danger my-2">{{ errorMessage }}</p>
 -->
