<div class="password-block text-center px-4 py-3 rounded shadow">
  <div class="password-title mt-3 mb-3">
      <h4>Créer un mot de passe</h4>
  </div>
  <form [formGroup]="passwordForm" class="password-form">

    <div class="form-group mb-4">
      <ng-template #popPasswordContent>
          <div class="text-danger field-error-class">
              {{ errorPasswordMessage }}
          </div>
      </ng-template>
      <label for="password" class="sr-only">
          Mot de passe
          <span style="color: rgb(247, 103, 103);">*</span>
      </label>
      <div class="input-group">
          <input [type]="hidePassword ? 'password' : 'text'" 
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': shouldShowRequiredError('password') || shouldShowSignUpError('password') }"
                  formControlName="password"
                  id="password" 
                  minlength="8"
                  maxlength="30"
                  (change)="checkPassword()"
                  aria-describedby="passwordHelp" 
                  placeholder="Mot de passe"
                  type="input"
                  placement="left"
                  triggers="manual" 
                  [ngbPopover]=popPasswordContent
                  container="body"
                  #popoverPassword="ngbPopover"
                  (click)="(shouldShowRequiredError('password') || shouldShowSignUpError('password')) && popoverPassword.open()"
                  [autoClose]="'outside'"
                  required>

          <div class="input-group-append" *ngIf="hidePassword" (click)="hidePassword = !hidePassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility-off" 
                          data-inline="false">
                  </span>  
              </div>
          </div>

          <div class="input-group-append" *ngIf="!hidePassword" (click)="hidePassword = !hidePassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility" 
                          data-inline="false">
                  </span>
              </div>
          </div>
      </div>                  
    </div>
    <div class="form-group mb-4">
      <label for="confirmPassword" class="sr-only">
          Confirmation
          <span style="color: rgb(247, 103, 103);">*</span>
      </label>
      <ng-template #popConfirmPasswordContent>
          <div class="text-danger field-error-class">
              {{ errorConfirmPasswordMessage }}
          </div>
      </ng-template>
      <div class="input-group">
          <input [type]="hideConfirmPassword ? 'password' : 'text'"  
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': shouldShowRequiredError('confirmPassword') || shouldShowSignUpError('confirmPassword') }"
                  formControlName="confirmPassword"
                  id="confirmPassword" 
                  minlength="8"
                  maxlength="30"
                  (change)="checkConfirmPassword()"
                  aria-describedby="passwordHelp" 
                  placeholder="Confirmer"
                  type="input"
                  placement="bottom"
                  triggers="manual" 
                  [ngbPopover]=popConfirmPasswordContent
                  container="body"
                  #popoverConfirmPassword="ngbPopover"
                  (click)="(shouldShowRequiredError('confirmPassword') || shouldShowSignUpError('confirmPassword')) && popoverConfirmPassword.open()"
                  [autoClose]="'outside'"
                  required>

          <div class="input-group-append" *ngIf="hideConfirmPassword" (click)="hideConfirmPassword = !hideConfirmPassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility-off" 
                          data-inline="false">
                  </span>  
              </div>
          </div>

          <div class="input-group-append" *ngIf="!hideConfirmPassword" (click)="hideConfirmPassword = !hideConfirmPassword">
              <div class="input-group-text">
                  <span class="iconify" 
                          data-icon="ic:outline-visibility" 
                          data-inline="false">
                  </span>
              </div>
          </div>
        </div>

        <small id="passwordHelp" 
                class="form-text text-muted">
            Le mot de passe doit contenir au moins 8 caractères majuscules et minuscules ainsi que des symboles (tels que @ & ! ? $ #).
        </small>
        
        <button type="submit" class="btn-login btn btn-primary btn-lg btn-block"
                            [disabled] = "passwordForm.invalid || errorConfirmPassword 
                                                               || errorPassword"
                            (click)="onUpdatePassword()">
            Enregistrer
        </button>
      </div>
  </form>
  <p class="text-danger my-2">{{ errorPasswordMessage }}</p>
</div>
