.item-list {
    height: 8rem;
}

.item-list-img {

    height: 7rem;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.user-img {

    height: 5.8rem;
    width:  5.8rem;

    margin-left: auto;
}

.user-img > img{

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-p {
    font-size: 0.8rem;
}

.separator-line {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.item-list-click {

    cursor: pointer;
}

.separator-line {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}