.bg-main-color {

    background-color: #179661;
}

.bg-second-color {

    background-color: #e5e89d;
}

.bg-shade-color {
    
    background: linear-gradient(190deg, #179661, #e5e89d);
}

.bg-black {

    background-color: black;
    color:white
}

.main-color {

    color: #179661;
}

.black {

    color: black;
}

.white {
    
    color:white
}