
<ul class="nav justify-content-center">
  <!-- Create title  -->
  <li role="presentation" [ngClass]="isTitleFormRoute() || isTitleCreated() ? 'active' : 'disabled'">
    <a (click)="goToTitleForm()" title="Titre" class="nav-link">
      <span class="iconify" data-icon="bx:bxs-pencil" data-inline="false"></span>
    </a>
  </li>

  <!-- Create category  -->
  <li role="presentation" [ngClass]="isCategoryFormRoute() || isCategoryCreated ? 'active' : 'disabled'">
    <a (click)="goToCategoryForm()" title="Catégorie" class="nav-link">
      <span class="iconify" data-icon="foundation:list-thumbnails" data-inline="false"></span>
      </a>
  </li>

  <!-- Create price  -->
  <li role="presentation" [ngClass]="isPriceFormRoute() || isPriceCreated ? 'active' : 'disabled'">
    <a (click)="goToPriceForm()" title="Prix" class="nav-link">
      <span class="iconify" data-icon="zmdi:label" data-inline="false"></span>
    </a>
  </li>

  <!-- Create media  -->
  <li role="presentation" [ngClass]="isMediaFormRoute() || isMediaCreated ? 'active' : 'disabled'">
    <a (click)="goToMediaForm()" title="Image et Vidéo" class="nav-link">
      <span class="iconify" data-icon="fe:picture" data-inline="false"></span>
    </a>
  </li>

    <!-- Create date event -->
    <li role="presentation" [ngClass]="isDatesFormRoute() || isDatesCreated() ? 'active' : 'disabled'"
                            *ngIf="isEventForm()">
      <a (click)="goToDatesForm()" title="Dates" class="nav-link">
        <span class="iconify" data-icon="heroicons-solid:location-marker" data-inline="false"></span>
      </a>
    </li>

    <!-- Create location event -->
    <li role="presentation" [ngClass]="isLocationFormRoute() || isLocationCreated() ? 'active' : 'disabled'"
                            *ngIf="isEventForm()">
      <a (click)="goToLocationForm()" title="Lieu" class="nav-link">
        <span class="iconify" data-icon="bx:bx-calendar" data-inline="false"></span>
      </a>
    </li>

  <!-- Complete create item -->
  <li role="presentation" [ngClass]="isCompleteFormRoute() || isCompleteCreated ? 'active' : 'disabled'">
    <a (click)="goToCompleteForm()" title="Résumé" class="nav-link">
      <span class="iconify" data-icon="el:ok" data-inline="false"></span>
    </a>
  </li>
</ul>
