<!-- Modal -->
<div class="modal-dialog" role="document">
  <div class="modal-content"> 
    <div class="modal-body">
      <!---------------------------- Description ------------------------------>
      <h3> Description </h3>
      <form [formGroup]="descriptionItemForm" role="form" class="form-item">
        <textarea class="form-control" 
                  formControlName="description"
                  id="description" 
                  [(ngModel)]="item.description"
                  rows="3"></textarea>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" 
                            (click)="activeModal.close('Close click')">Annuler</button>
      <button type="button" (click)="passBack()">Enregistrer</button>
    </div>
  </div>
</div>