<!-- Modal -->
<div class="modal-dialog" role="document">
  <div class="modal-content"> 
    <div class="modal-body">
      <!---------------------------- Description ------------------------------>
      <h4>Description</h4>
      <hr class="separation-line"> <!-- separation line -->
      <form [formGroup]="descriptionItemForm" role="form" class="form-item">
        <textarea class="form-control" 
                  formControlName="description"
                  id="description" 
                  [(ngModel)]="description"
                  rows="12">
        </textarea>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" 
                            (click)="activeModal.close(null)">Annuler</button>

      <button type="button" 
              class="btn"
              [disabled]="descriptionItemForm.invalid"
              (click)="passBack()">Enregistrer</button>
    </div>
  </div>
</div>