<form [formGroup]="adminForm" (ngSubmit)="onCreateCategory()" role="form">
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="nameCategory">Name</label>
      <input type="text" class="form-control" id="nameCategory" formControlName = "nameCategory" placeholder="Name...">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary"
                            [disabled]="adminForm.invalid">
          Créer une catégorie
      </button>
    </div>
  </div>
</form>
