<div class="auth-section h-100 row align-items-center justify-content-center text-center">
    <div class="auth-body col-lg-4">
        <div class="auth-content">
            <div class="auth-title mb-4">
                <!-- À modifier (Image logo Nom de la plateforme)-->
                <img src="assets/img/logo.png" 
                     width="90" 
                     height="60" 
                     class="d-inline-block"
                     (click)="goHome()" 
                     alt="">

            </div>
            <app-login-box></app-login-box>

        </div>
    </div>
</div>
