<div class="auth-section h-100 row justify-content-center text-center">
    <div class="auth-body col-lg-4 col-md-5 col-sm-10 px-5">
        <div class="auth-content">
            <div class="auth-title mb-4">
    
                <img src="assets/img/wyskill_logo_sm.png"
                     width="150"  
                     class="d-inline-block mb-4" 
                     (click)="goHome()" 
                     alt="logo Wyskill">

                <h4 class="main-color mb-5">Boostez votre évolution</h4>
                
            </div>

            <app-login-box></app-login-box>

        </div>
    </div>
</div>
