<div class="accordion" id="accordionCourseContent">
  <div class="card" *ngFor="let module of courseContent; let i = index">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" 
                type="button" 
                data-toggle="collapse" 
                [attr.data-target]="'#collapse'+i" 
                aria-expanded="true" 
                [attr.aria-controls]="'collapse'+i">

          {{ module.title }}
        </button>
      </h5>
    </div>
    <div class="card-body">

      <div [attr.id]="'collapse'+i" 
            class="collapse show" 
            [attr.aria-labelledby]="'heading'+i" 
            data-parent="#accordionCourseContent">

        <p class="module-description text-justify mx-2 mt-3">
          {{ module.description }}
        </p>

        <ul class="list-group list-group-flush">
          <li *ngFor="let chapter of module.chapters"
              class="list-group-item">
            {{ chapter.title }}
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>