@import "../../style/auth-style.scss";
@import '/src/app/shared/style/color.scss';

.signup-block {

    background-color: white;
}

h3 {

    text-align:center;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
}

label, input {

    font-size: small;
}

button {

    font-size: medium;
}

.signup-block-signin {

    padding-top: 2vh;
    padding-bottom: 2vh;

    margin-top: 2vh;

    font-size: medium;
}

.signin-with {

    color:#7a7a7a;
    font-size: medium;
    font-weight: bold;
}

.btn-sigin-with {

    padding-top: 1.4vh;
    padding-bottom: 1.4vh;

    margin-top: 2vh;
    background-color: #fafbfc;

    margin-left: auto;
    margin-right: auto;
}

.signin-logo {

    font-size: x-large;
}