<div class="auth-section h-100 row align-items-center justify-content-center">
  
    <div class="auth-body col-lg-4 col-md-5 col-sm-10 py-4 px-5 text-center">

        <div class="auth-content justify-content-center">

            <div class="auth-title mb-4">
    
                <img src="assets/img/wyskill_logo_sm.png"
                     width="150"  
                     class="d-inline-block mb-4" 
                     (click)="goHome()" 
                     alt="logo Wyskill">
    
                <h4 class="main-color mb-5">Boostez votre évolution</h4>
                
            </div>




            <div *ngIf="isVerificationEmailSent" 
                 class="alert alert-success" 
                 role="alert">

                <h3 class="text-center">Bienvenue sur Wyskill !</h3>
                
                <p style="text-align: justify;">
                    Ouvrez votre boîte email, et cliquez sur le lien d’activation dans le message que vous avez reçu.
                    <br/>
                    Si vous n’avez pas reçu notre message (Avez-vous vérifié vos spam ?).
                </p>

            </div>

    

            

            <div class="signup-block block-sign justify-content-center text-center px-4 py-4 shadow"
                 *ngIf="!isVerificationEmailSent">


                <!-- <div class="row btn-sigin-with btn-google-signin rounded shadow-sm w-80" 
                    (click)="onGoogleSignUpWithPopUp()">
                    <div class="col-2">
                        <span class="signin-logo iconify" 
                              data-icon="logos:google-icon" 
                              data-inline="false">
                        </span>
                    </div>
                    <div class="col-10">
                        <span class="signin-with">Se connecter avec Google</span>
                    </div>
                </div> -->

                <!-- <div class="row btn-sigin-with btn-facebook-signin rounded shadow-sm w-80" 
                    (click)="onFacebookSignUpWithPopUp()">
                    <div class="col-2">
                        <span class="signin-logo iconify" data-icon="cib:facebook" data-inline="false" style="color: #1772eb;"></span>
                    </div>
                    <div class="col-10">
                        <span class="signin-with">Se connecter avec Facebook</span>
                    </div>
                </div> -->

                <!-- <hr class="mx-auto w-75 my-3"> -->

                <form [formGroup]="signUpForm" 
                      class="signup-form" 
                      autocomplete="off">
                      
                    <div class="form-group mb-2">
                        <ng-template #popEmailContent>
                            <div class="text-danger field-error-class">
                                {{ errorEmailMessage }}
                            </div>
                        </ng-template>
                        <label for="email" class="sr-only">
                            Adresse mail
                            <span style="color: rgb(247, 103, 103);">*</span>
                        </label>
                        <input type="email" class="form-control input-sign" 
                                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('email') || shouldShowSignUpError('email') }"
                                            formControlName="email"
                                            id="email" 
                                            aria-describedby="emailHelp" 
                                            placeholder="Email"
                                            type="input"
                                            placement="left"
                                            triggers="manual" 
                                            [ngbPopover]=popEmailContent
                                            container="body"
                                            #popoverEmail="ngbPopover"
                                            (click)="(shouldShowRequiredError('email') || shouldShowSignUpError('email')) && popoverEmail.open()"
                                            (change)="resetMailError()"
                                            [autoClose]="'outside'"
                                            required>
                                            
                    </div>

                    <!-- <div class="form-group mb-2">
                        <ng-template #popConfirmeEmailContent>
                            <div class="text-danger field-error-class">
                                {{ errorEmailMessage }}
                            </div>
                        </ng-template>
                        <label for="confirmEmail" class="sr-only">
                            Confirmer l'adresse mail
                            <span style="color: rgb(247, 103, 103);">*</span>
                        </label>
                        <input type="email" class="form-control input-sign" 
                                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('confirmEmail') || shouldShowSignUpError('confirmEmail') }"
                                            formControlName="confirmEmail"
                                            id="confirmEmail" 
                                            (change)="checkConfirmEmail()"
                                            aria-describedby="emailHelp" 
                                            placeholder="Confirmer l'email"
                                            type="input"
                                            placement="left"
                                            triggers="manual" 
                                            [ngbPopover]=popConfirmeEmailContent
                                            container="body"
                                            #popoverConfirmEmail="ngbPopover"
                                            (click)="(shouldShowRequiredError('confirmEmail') || shouldShowSignUpError('confirmEmail')) && popoverConfirmEmail.open()"
                                            [autoClose]="'outside'"
                                            required>
                    </div>
             -->
                    
                    <!-- <button type="submit" class="btn-subscribe btn btn-primary btn-lg btn-block mt-3"
                                            [disabled] = "signUpForm.invalid || errorConfirmEmailMessage 
                                                                             || errorEmail
                                                                             || errorGeneral"
                                            (click)="onSignUp()">
                        Accepter & Rejoindre 
                    </button> -->


                    <app-password-box (password)="password = $event">
                    </app-password-box>
                    

                    <button type="submit" class="btn-subscribe btn btn-lg btn-block mt-3"
                                          [disabled] = "signUpForm.invalid && !password
                                                                           || errorEmail
                                                                           || errorGeneral"
                                          (click)="onSignUp()">
                        Rejoindre 
                    </button>
                </form>

                <hr class="my-3">

                <p><small>Vous avez déjà un compte ?</small></p>
                <button type="submit" class="btn-login btn btn-lg btn-block"
                                      (click)="goToSignIn()">
                    Se connecter
                </button>
            </div>
        </div>
    </div>
</div>