<div class="auth-section h-100 row align-items-center justify-content-center text-center">

    <div class="col-6">
        <div class="auth-title">
        <!-- À modifier (Image logo Nom de la plateforme)-->
        <a routerLink='/home' routerLinkActive="router-link-active">
            <img src="assets/img/logo.png" width="90" height="60" class="d-inline-block" alt="">
        </a>
        </div>
    </div>
    <div class="auth-body col-5">
        <div class="auth-content justify-content-center">
            <div *ngIf="isVerificationEmailSent" class="alert alert-success" role="alert">
                Pour finaliser, votre inscription, veuillez cliquer sur le lien de confirmation qui a été envoyé sur votre boite mail.
            </div>
            <div class="signup-block align-self-center justify-content-center text-center px-4 py-3 shadow rounded">
                <div class="signup-title mt-2 mb-4">
                    <h3>Rejoignez la communauté</h3>
                    <span>C'est facile et rapide</span>
                </div>
                <form [formGroup]="signUpForm" class="signup-form" 
                                                autocomplete="off">
                    <div class="form-row align-items-center">
                        <div class="form-group col-6">
                            <label for="firstname" class="sr-only">
                                Prénom
                                <span style="color: rgb(247, 103, 103);">*</span>
                            </label>
                            <ng-template #popFirstNameContent><div class="text-danger field-error-class">Quel est votre prénom ?</div></ng-template>
                            <input type="text" class="form-control" 
                                                [ngClass]="{ 'is-invalid': shouldShowRequiredError('firstname') }"
                                                formControlName="firstname"
                                                id="firstname" 
                                                placeholder="Prénom"
                                                type="input"
                                                placement="top"
                                                triggers="manual" 
                                                [ngbPopover]=popFirstNameContent
                                                container="body"
                                                #popoverFirstName="ngbPopover"
                                                (click)="shouldShowRequiredError('firstname') && popoverFirstName.open()"
                                                [autoClose]="'outside'"
                                                required>
                        </div>
                        <div class="form-group col-6">
                            <label for="lastname" class="sr-only">
                                Nom
                                <span style="color: rgb(247, 103, 103);">*</span>
                            </label>
                            <ng-template #popLastNameContent>
                                <div class="text-danger field-error-class">Quel est votre nom ?</div>
                            </ng-template>
                            <input type="text" class="form-control" 
                                                formControlName="lastname"
                                                [ngClass]="{ 'is-invalid': shouldShowRequiredError('lastname') }"
                                                id="lastname" 
                                                placeholder="Nom"
                                                type="input"
                                                placement="top"
                                                triggers="manual" 
                                                [ngbPopover]=popLastNameContent
                                                container="body"
                                                #popoverLastName="ngbPopover"
                                                (click)="shouldShowRequiredError('lastname') && popoverLastName.open()"
                                                [autoClose]="'outside'"
                                                required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="sr-only" for="role">Activité</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"
                                        type="div"
                                        placement="left"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="Cette information ne sera pas visible par les autres utilisateurs."
                                        container="body"
                                        #popoverRoleInfo="ngbPopover"
                                        (click)="shouldShowRequiredError('lastname') && popoverLastName.open()"
                                        [autoClose]="'outside'">
            
                                        
                                    <span class="iconify" 
                                            data-icon="clarity:help-info-solid" 
                                            data-inline="false">
                                    </span>
                                </div>
                            </div>
                            <select class="form-control form-control-sm" 
                                    id="role" 
                                    (change)="onChangeSelectRole($event.target.value)">
            
            
                                <option value="roleInit" disabled selected>
                                    {{ roleInit }}
                                </option>
                                <option *ngFor="let role of roles; let i = index"
                                        [value]="roles[i]">
                                    {{ roles[i] }}
                                </option>
                            </select>
                            </div>
                
                    </div>
            
                    <div class="form-group mb-3">
                        <ng-template #popEmailContent>
                            <div class="text-danger field-error-class">
                                {{ errorEmailMessage }}
                            </div>
                        </ng-template>
                        <label for="email" class="sr-only">
                            Adresse mail
                            <span style="color: rgb(247, 103, 103);">*</span>
                        </label>
                        <input type="email" class="form-control" 
                                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('email') || shouldShowSignUpError('email') }"
                                            formControlName="email"
                                            id="email" 
                                            aria-describedby="emailHelp" 
                                            placeholder="Email"
                                            type="input"
                                            placement="left"
                                            triggers="manual" 
                                            [ngbPopover]=popEmailContent
                                            container="body"
                                            #popoverEmail="ngbPopover"
                                            (click)="(shouldShowRequiredError('email') || shouldShowSignUpError('email')) && popoverEmail.open()"
                                            [autoClose]="'outside'"
                                            required>
                        <small id="emailHelp" class="form-text text-muted">
                            Nous ne partagerons jamais votre e-mail.
                        </small>
                    </div>

                    <div class="form-group mb-3">
                        <ng-template #popConfirmeEmailContent>
                            <div class="text-danger field-error-class">
                                {{ errorEmailMessage }}
                            </div>
                        </ng-template>
                        <label for="confirmEmail" class="sr-only">
                            Confirmer l'adresse mail
                            <span style="color: rgb(247, 103, 103);">*</span>
                        </label>
                        <input type="email" class="form-control" 
                                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('confirmEmail') || shouldShowSignUpError('confirmEmail') }"
                                            formControlName="confirmEmail"
                                            id="confirmEmail" 
                                            (change)="checkConfirmEmail()"
                                            aria-describedby="emailHelp" 
                                            placeholder="Confirmer l'email"
                                            type="input"
                                            placement="left"
                                            triggers="manual" 
                                            [ngbPopover]=popConfirmeEmailContent
                                            container="body"
                                            #popoverConfirmEmail="ngbPopover"
                                            (click)="(shouldShowRequiredError('confirmEmail') || shouldShowSignUpError('confirmEmail')) && popoverConfirmEmail.open()"
                                            [autoClose]="'outside'"
                                            required>
                    </div>
            
                    
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4"
                                            [disabled] = "signUpForm.invalid || errorConfirmEmailMessage 
                                                                             || errorEmail
                                                                             || errorGeneral"
                                            (click)="onSignUp()">
                        S'inscrire
                    </button>
                </form>
            </div>
            
            <div class="signup-block-signin rounded shadow">
                <span>
                    Vous avez déjà un compte ?
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="" href="">
                        Connectez-vous.
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>