<!-- Section Categories -->
<div class="tab-pane" role="tabpanel" id="step2">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="head-item-form">À quelle catégorie votre formation appartient-elle ?</h3>
            <form [formGroup]="categoryForm" role="form" class="form-item">

                <select class="form-control form-control-lg mt-5" formControlName="category"  
                                                             (change)="selectCategory($event.target.value)"
                                                             id="category" required>
                    <option disabled value="" [selected]="catRestored ? true : null">
                        Choisissez une catégorie...
                    </option>
                    <option *ngFor="let cat of this.categoriesValues" [value]="cat.id"
                                                                      [selected]="catRestored && (cat.id == catRestored.id) ? true : null"> 
                        {{ cat.name }}
                    </option>
                </select>
            </form>
            <ul class="nav nav-item btns-item-form justify-content-between border mx-auto mt-5">
                <li>
                    <button type="button" class="btn btn-default btn-prev" 
                                          (click)="onBack()">
                        Précédent
                    </button>
                </li>
                <li>
                    <button type="button" id="continue" 
                                          class="btn btn-default btn-next" 
                                          *ngIf="!categoryForm.invalid"
                                          (click)="onSetCategory()">
                        Continuer
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>