<div *ngIf="course" class="row my-4">
  <div class="item-list-img item-click col-3"
       (click)="onConsultCourse(course)">
    <img *ngIf="course.imageLink" class="img" [src]="course.imageLink">
  </div>
  <div class="col-7">
    <div class="item-click" (click)="onConsultCourse(course)">
      <h5>{{ course.title }}</h5>
      <p>{{ course.catchPhrase }}</p>
    </div>
   <app-rating *ngIf="course.globalNote"
                [style]="0" 
                [nbRatings]="course.nbRatings" 
                [globalNote]="course.globalNote"
                (click)="onConsultCourse(course)"
                [size]="1">
    </app-rating>
    <div *ngIf="course.iAuthors.length" class="course-section-auteur">
      <span class="course-author-name">
        <a [href]="'/user/'+course.iAuthors[0].id" class="item-p">
          {{ course.iAuthors[0].firstname }} {{ course.iAuthors[0].lastname }}
        </a>
      </span>
    </div>
    <hr class="separator-line"> <!-- separation line -->
    <!-- <span *ngIf="course.category" class="course-category">
      <a class="item-p item-click" (click)="onConsultCategory(course.category.id)">
        {{ course.category.name }}
      </a>
      <span> &bull; 
        <a *ngFor="let subCat of course.category.subCategories" class="item-p item-click" 
                                                                (click)="onConsultCategory(subCat.id)">
          {{ subCat.name }}
        </a>
      </span>
    </span> -->
    <div *ngIf="course.tags" class="course-tags">
      <span class="iconify mr-1 my-auto" data-icon="heroicons-solid:hashtag" 
                                         data-inline="false" 
                                         style="color: #2E7B9C;">
      </span>
      <span *ngFor="let tag of course.tags; let i = index" class="course-tag">
        <span class="item-p item-click" (click)="onConsultTag(tag)">{{ tag.name }}</span>
        <span *ngIf="course.tags.length > 1 && course.tags.length-1 > i">&nbsp;&bull;&nbsp;</span>
      </span> 
    </div>
  </div>
   <div class="col-2 align-self-center item-click" 
       (click)="onConsultCourse(course)">

    <h4 class="course-price">
      {{ course.price }} €
    </h4>

  </div>
</div>


