<footer class="py-4">
    <div class="row">
        <div class="col-4 text-center">

            <img class="mb-3"
                 src="assets/img/logo_skilleo_1-0.png"
                 width="100"
                 alt="">

            <h5>beta.skilleo@gmail.com</h5>
        </div>

        <div class="col-4">
            <a href="">
                Mentions légales
            </a>

            <a href="">
                Politique de confidentialité
            </a>
        </div>

        <div class="col-4">
            <h3>Suivez-nous</h3>
        </div>
    </div>
</footer>