<footer class="py-4 text-center">
    <div class="row align-items-center mt-4">
        <div class="col-6 text-center">

            <img class="mb-3"
                 src="assets/img/wyskill_logo_sm.png" 
                 width="100"
                 alt="logo wyskill">
        </div>

        <div class="col-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-4">

                    <a class="footer-link" 
                       href="https://wa.me/33756960972" 
                       target="_blank">

                        <span class="iconify contact-icon" 
                                data-icon="bi:whatsapp" 
                                data-inline="false"
                                width="35">
                        </span>
                    </a>
                </div>
                <div class="col-4">
                    <a  class="footer-link"
                        href="https://fb.me/wyskill.fr" 
                        target="_blank">

                        <span class="iconify contact-icon" 
                                data-icon="bi:facebook" 
                                data-inline="false"
                                width="35">
                        </span>
                    </a>
                </div>
                <div class="col-4">
                    <a  class="footer-link"
                        href="https://instagram.com/wyskill.fr" 
                        target="_blank">
                        
                        <span class="iconify contact-icon" 
                              data-icon="bi:instagram" 
                              data-inline="false"
                              width="35">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-4">
            <a  class="footer-link"
                href="">
                Mentions légales
            </a>
        </div>

        <div class="col-4">
            <a  class="footer-link"
                href="">
                Politique de confidentialité
            </a>
        </div>

        <div class="col-4">
            <a  class="footer-link"
                href="">
                Conditions d'utilisation
            </a>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-10">
            <span class="text-center">
                Copyright © 2021 Wyskill | Propulsé par Wyskill
            </span>
        </div>
    </div>
</footer>