<!-- Section complete -- Add video Guide -->
<div class="tab-pane" role="tabpanel" id="complete">
  <div class="alert alert-success text-center item-created" *ngIf="isItemCreated()">
    <h3>Félicitations !</h3>

    <span class="item-created-text" *ngIf="isCourse()">
      Votre formation à bien été créé, vous pourrez la consulter dans : 
    </span>

    <span class="item-created-text" *ngIf="isEvent()">
      Votre événement à bien été créé, vous pourrez le consulter dans : 
    </span>
    <countdown #countdown [config]="{leftTime: 6}" (event)="onTimerFinished($event)" >$!m!:$!s!</countdown>
  </div>

  <div  *ngIf="!isItemCreated()">

    <div class="row justify-content-center">
      <div class="col-10">

        <p class="alert alert-success text-center">Vous avez terminé toutes les étapes avec succès.</p>

        <div class="row mb-3">
          <div class="item-c-img col-4">
            <img [src]="getImageFormValue()">
          </div>
          <div class="col-7">
            <span>{{ getTitleFormValue() }}</span>
  
            <br><hr>
  
            <span>{{ getPriceFormValue() }} €</span>

            <br><hr>

            <div *ngFor="let tag of getTagsFormValue(); let i = index" class="col-auto mb-3">
              <span class="tag py-2 px-3"> 
                {{ tag.name }}
              </span>
            </div>

          </div>
        </div>

        <!-------------------------------- Buttons "Save" / "Skip" / "Back" ---------------------------->
        <ul class="nav nav-item justify-content-between mx-auto mt-5" *ngIf="!isItemCreated()">
          <li>
            <button type="button" class="btn btn-default btn-prev" 
                                  (click)="onBack()">
              Précédent
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-next" 
                                  (click)="onCreateItem()">
              <span *ngIf="isCourse()">Créer ma formation</span>
              <span *ngIf="isEvent()">Créer mon événement</span>
            </button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>