<div class="verification-block text-center px-4 py-4 rounded shadow">

  <div class="user-signedIn-info mb-3">  
    <h4 class="mail-user">Bienvenue, {{ emailUser }}</h4>
  </div>

  <form [formGroup]="verificationForm" 
        class="verification-form" 
        autocomplete="off">

    <div class="form-row align-items-center">
      <div class="form-group col-6">
        <label for="firstname" class="sr-only">
            Prénom
            <span style="color: rgb(247, 103, 103);">*</span>
        </label>
        <ng-template #popFirstNameContent><div class="text-danger field-error-class">Quel est votre prénom ?</div></ng-template>
        <input type="text" class="form-control input-sign" 
                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('firstname') }"
                            formControlName="firstname"
                            id="firstname" 
                            placeholder="Prénom"
                            type="input"
                            placement="top"
                            triggers="manual" 
                            [ngbPopover]=popFirstNameContent
                            container="body"
                            #popoverFirstName="ngbPopover"
                            (click)="shouldShowRequiredError('firstname') && popoverFirstName.open()"
                            [autoClose]="'outside'"
                            required>
      </div>
      <div class="form-group col-6">
        <label for="lastname" class="sr-only">
            Nom
            <span style="color: rgb(247, 103, 103);">*</span>
        </label>
        <ng-template #popLastNameContent>
            <div class="text-danger field-error-class">Quel est votre nom ?</div>
        </ng-template>
        <input type="text" class="form-control input-sign" 
                            formControlName="lastname"
                            [ngClass]="{ 'is-invalid': shouldShowRequiredError('lastname') }"
                            id="lastname" 
                            placeholder="Nom"
                            type="input"
                            placement="top"
                            triggers="manual" 
                            [ngbPopover]=popLastNameContent
                            container="body"
                            #popoverLastName="ngbPopover"
                            (click)="shouldShowRequiredError('lastname') && popoverLastName.open()"
                            [autoClose]="'outside'"
                            required>
      </div>
    </div>
  </form>

  <div class="form-group mb-3">
    <label class="sr-only" for="role">Activité</label>
    <div class="input-group">
      <div class="input-group-prepend">
          <div class="input-group-text input-sign"
                  type="div"
                  placement="bottom"
                  triggers="mouseenter:mouseleave"
                  ngbPopover="Cette information ne sera pas visible par les autres utilisateurs."
                  container="body"
                  #popoverRoleInfo="ngbPopover"
                  [autoClose]="'outside'">

                  
              <span class="iconify" 
                      data-icon="clarity:help-info-solid" 
                      data-inline="false">
              </span>
          </div>
      </div>
      <select class="form-control form-control-sm" 
              id="role" 
              (change)="onChangeSelectRole($event.target.value)">


          <option value="roleInit" disabled selected>
              {{ roleInit }}
          </option>
          <option *ngFor="let role of roles; let i = index"
                  [value]="roles[i]">
              {{ roles[i] }}
          </option>
      </select>
    </div>
  </div>
      
  <app-password-box (password)="password = $event">
  </app-password-box>

  <button type="submit" 
          class="btn-subscribe btn btn-primary btn-lg btn-block"
          [disabled]="!password.length && verificationForm.invalid"
          (click)="onUpdatePassword()">
    Créer un compte
  </button>
</div>