<div class="container border">
	<div class="row border">
    <div class="wizard border">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
          <ul class="nav nav-tabs border" role="tablist">

            <!-- Step 1 - Create title item -->
            <li role="presentation" [ngClass]="isTitleFormRoute() || isTitleCreated ? 'active' : 'disabled'">
              <a (click)="goToTitleForm()" title="Step 1" class="nav-link">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
              </a>
            </li>

            <!-- Step 2 - Create category item -->
            <li role="presentation" [ngClass]="isCategoryFormRoute() || isCategoryCreated ? 'active' : 'disabled'">
              <a (click)="goToCategoryForm()" title="Step 2" class="nav-link">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-th-list"></i>
                  </span>
                </a>
            </li>

            <!-- Step 3 - Create price item -->
            <li role="presentation" [ngClass]="isPriceFormRoute() || isPriceCreated ? 'active' : 'disabled'">
                  <a (click)="goToPriceForm()" title="Step 3" class="nav-link">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-tag"></i>
                  </span>
                </a>
            </li>

            <!-- Step 4 - Create media item -->
            <li role="presentation" [ngClass]="isMediaFormRoute() || isMediaCreated ? 'active' : 'disabled'">
              <a (click)="goToMediaForm()" title="Step 4" class="nav-link">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-picture"></i>
                </span>
              </a>
            </li>

            <!-- Step 5 - Complete create item -->
            <li role="presentation" [ngClass]="isCompleteFormRoute() || isCompleteCreated ? 'active' : 'disabled'">
              <a (click)="goToCompleteForm()" title="Complete" class="nav-link">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>    
        <router-outlet></router-outlet> 
    </div>
  </div>
</div>