<div id="crm"
     class="container-fluid">

  <div class="crm-main-section">
    <div class="row align-items-center">

      <div class="col-lg-7 col-md-12 col-sm-12">
    
        <div class="crm-main-section-header">
          <h1 class="main-title">
            <span class="main-color">Wyskill Manager</span>, la solution tout-en-un pour gérer votre centre de formation
          </h1>

          <h3 class="crm-section-subtitle">
            Wyskill Manager arrive bientôt !
          </h3>
          
          <button class="btn btn-gen"
                  (click)="goToSurvey()">
            Répondez au sondage
          </button>
        </div>

      </div>

      <div class="crm-login-col col-lg-4 col-md-12 col-sm-12">

        <div class="crm-img-box text-center">
          
          <img  class="img-proto img-s d-inline-block rounded shadow"
                src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Fmanager%2Fdashboard.png?alt=media&token=2678dbf9-ed04-48c9-9c8c-6da3f5694114" 
                width="350" 
                alt="Wyskill Manager Gérer vos formation en ligne et événements">  
        </div>
      </div>

    </div>
  </div>



  <hr class="crm-section-separation"> 



  <div class="crm-section crm-mobile-section">

    <div class="crm-section-header text-center">

      <h2 class="crm-main-section-title">
        Transmettez votre expertise
      </h2>
  
      <h4 class="crm-section-subtitle">
        Partagez votre expertise à travers des formations en ligne et des événements.
      </h4>

    </div>
    
    <div class="row align-items-center justify-content-center crm-section">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">

        <img  class="img-proto img-s d-inline-block rounded shadow"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Fmanager%2Fcourses.png?alt=media&token=cbc36c97-1e71-45a3-8f89-a15d97fb1785" 
              width="350" 
              alt="image devenir boosteur">

      </div>
      <div class="crm-section-body col-lg-7 col-md-10 col-sm-10">
        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">

              <img class="img-s d-inline-block" 
                  src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fonline-learning.png?alt=media&token=ea5051c5-00c8-4671-b166-931807a0ec2b"
                  width="50"
                  alt="Créer une formation en ligne">

            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">Formations en ligne</h3>
      
              <h4 class="crm-subsection-subtitle">
                Créez et hébergez vos formations en ligne rapidement et simplement.
                <br/> 
                Partager vos compétences avec vos apprenants.
              </h4>
            </div>
          </div>

        </div>

        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">

              <img  class="img-s d-inline-block" 
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fpromote.png?alt=media&token=1d4d62fc-198d-4e67-a020-bdce1dbd626b"
                    width="50"
                    alt="Publier / Promouvoir un évènement">
            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">Événements</h3>
      
              <h4 class="crm-subsection-subtitle">
                Augmenter la visibilité de vos événements en délivrant les bons messages aux cibles de votre choix.
              </h4>
            </div>
          </div>

        </div>

        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">
 
              <img class="img-s d-inline-block" 
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Ftutor.png?alt=media&token=539fdec9-41df-472c-ac98-c27ae97b3aa7" 
                    alt="Accompagner vos apprenants / étudiants"
                    width="50">
            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">Accompagnement</h3>
      
              <h4 class="crm-subsection-subtitle">
                Suivez l’évolution de vos apprenants grâce à leur activité sur vos formations et événements.
                <br/>
                Aidez vos apprenants à atteindre leurs objectifs.
              </h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <hr class="crm-section-separation"> 



  <div class="crm-section crm-mobile-section">

    <div class="crm-section-header text-center">

      <h2 class="crm-main-section-title">
        Communiquez 
      </h2>
  
      <h4 class="crm-section-subtitle">
        Engagez votre audience grâce à une expérience unique sur le canal de communication le plus adapté.
      </h4>

    </div>
    
    <div class="row align-items-center justify-content-center crm-section">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">

        <img  class="img-proto img-s d-inline-block rounded shadow"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Fmanager%2Fchat.png?alt=media&token=51365e22-d053-427c-94a2-863d16020c41" 
              width="350" 
              alt="image devenir boosteur">

      </div>
      <div class="crm-section-body col-lg-7 col-md-10 col-sm-10">
        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Femail.png?alt=media&token=9626cd28-1f9d-4bce-8ab2-bb54f786222f" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">
              <h3 class="crm-subsection-title">E-mail</h3>
      
              <h4 class="crm-subsection-subtitle">
                Communiquez avec vos apprenants facilement avec des campagnes email et des newsletters.
              </h4>
            </div>
          </div>

        </div>

        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fsocial-media.png?alt=media&token=741e53b0-d7aa-450b-9dbf-24c75adf9d2a" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">Réseaux sociaux</h3>
      
              <h4 class="crm-subsection-subtitle">
                Développez et engagez votre audience en communiquant sur les réseaux sociaux au sujet de vos événements et/ou de vos formations en ligne.
              </h4>
            </div>
          </div>

        </div>

        <div class="crm-subsection">
          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fchat.png?alt=media&token=8b41146d-25a4-4a46-9f38-73fdc0374599" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">
              <h3 class="crm-subsection-title">Messagerie instantanée</h3>
      
              <h4 class="crm-subsection-subtitle">
                Discutez en temps réel avec vos prospects et apprenants.
              </h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="crm-section last-section crm-mobile-section bg-second-color-light">
    <div class="row justify-content-center align-items-center">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">
        
        <img  class="img-s d-inline-block"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fchecklist.png?alt=media&token=61013c19-321c-40c2-b7de-dbb86ea1dbf2" 
              width="150" 
              alt="Wyskill Agrandissez votre réseau">   
     
      </div>
  
      <div class="crm-section-txt col-lg-7 col-md-10 col-sm-10">
        
        <h2 class="crm-section-title">
          Votre avis est important
        </h2>
        <h3 class="crm-section-subtitle">
          Aidez-nous à créer la solution qui vous convient.
        </h3>

        <button class="btn btn-gen-outline"
                (click)="goToSurvey()">
          Répondez au sondage
        </button>
      </div>
    </div>
  </div>




  <div class="crm-section crm-mobile-section">

    <div class="crm-section-header text-center">

      <h2 class="crm-main-section-title">
        Optimisez le parcours des apprenants 
      </h2>
  
      <h4 class="crm-section-subtitle">
        Développez des relations plus fortes avec vos contacts en créant une expérience encore plus ciblée.      
      </h4>
   
    </div>
    
    <div class="row align-items-center justify-content-center crm-section">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">

        <img  class="img-proto img-s d-inline-block rounded shadow"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Fmanager%2Fautomation.png?alt=media&token=5d0acc11-0e63-47a3-990e-f5834c54c877" 
              width="350" 
              alt="image devenir boosteur">

      </div>
      <div class="crm-section-body col-lg-7 col-md-10 col-sm-10">
        <div class="crm-subsection">
          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fcrm.png?alt=media&token=52ff07fa-48e8-44f9-84c8-544a976ea16f" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">CRM</h3>
      
              <h4 class="crm-subsection-subtitle">
                Centralisez les données de vos contacts et apprenants aux même endroit.
              </h4>
            </div>
          </div>
        </div>

        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fnetwork.png?alt=media&token=57998ee1-6d40-4620-b813-82d267019022" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">

              <h3 class="crm-subsection-title">Groupes</h3>
      
              <h4 class="crm-subsection-subtitle">
                Rendez votre communication plus pertinente en ciblant de plus petits groupes de contacts avec des messages personnalisés.
              </h4>
            </div>
          </div>
        </div>

        <div class="crm-subsection">

          <div class="row">

            <div class="col-lg-2">
              <img  class="img-s d-inline-block"
                    src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fautomation.png?alt=media&token=e52e00d4-8ca2-406f-b267-9a16f70a9ee2" 
                    width="50" 
                    alt="image devenir boosteur">
            </div>

            <div class="col-lg-9">
              <h3 class="crm-subsection-title">Marketing Automation</h3>
      
              <h4 class="crm-subsection-subtitle">
                Gagnez du temps et de l'énergie en définissant et en automatisant toutes vos communications grâce aux actions de vos contacts.
              </h4>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <hr class="crm-section-separation"> 



  <div class="crm-section crm-mobile-section">
    <div class="row justify-content-center align-items-center">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">
        
        <img  class="img-s d-inline-block"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fincrease.png?alt=media&token=77f06159-84e9-4b05-859b-7eafc6663b19" 
              width="150" 
              alt="Wyskill Agrandissez votre réseau">   
     
      </div>
  
      <div class="crm-section-txt col-lg-7 col-md-10 col-sm-10">
        
        <h2 class="crm-section-title">
          Supervisez 
        </h2>
    
        <h4 class="crm-section-subtitle">
          Suivez les données de près et prenez les bonnes décisions grâce à vos rapports de performances.
          <ul>
            <br>
            <li>Chiffres d'affaires.</li>
            <br>
            <li>Marketing (Taux de conversion,...).</li>
            <br>
            <li>Formations (Taux de réussite).</li>
          </ul>
           
        </h4>

      </div>
    </div>
  </div>




  <div class="crm-section last-section crm-mobile-section bg-second-color-light">
    <div class="row justify-content-center align-items-center">
      <div class="crm-section-img col-lg-5 col-md-10 col-sm-10 text-center">
        
        <img  class="img-s d-inline-block"
              src="https://firebasestorage.googleapis.com/v0/b/wyskill-5890c.appspot.com/o/images%2Fsite%2Ficon%2Fchecklist.png?alt=media&token=61013c19-321c-40c2-b7de-dbb86ea1dbf2" 
              width="150" 
              alt="Wyskill Agrandissez votre réseau">   
     
      </div>
  
      <div class="crm-section-txt col-lg-7 col-md-10 col-sm-10">
        
        <h2 class="crm-section-title">
          Votre avis est important
        </h2>
        <h3 class="crm-section-subtitle">
          Aidez-nous à créer la solution qui vous convient.
        </h3>

        <button class="btn btn-gen"
                (click)="goToSurvey()">
          Répondez au sondage
        </button>
      </div>
    </div>
  </div>

</div>