<!---------------------------- Compétences ------------------------------>
<div class="wrapper">
  <h5>
    <span class="iconify mr-2" 
          data-icon="mi:circle-warning" 
          data-inline="false">
    </span>
    Prérequis
  </h5>
  <hr class="separation-line"> <!-- separation line -->

  <form [formGroup]="prerequisiteItemForm" role="form">

    <div class="input-group mb-3">
      <input #prerequisiteInput
              type="text" 
              class="form-control" 
              [ngStyle]="{'background-color': isPrerequisiteInputFocus ? 'white' : '#F1F1F1'}"
              formControlName="prerequisiteInput"
              id="prerequisiteInput"
              (focus)="isPrerequisiteInputFocus = true"
              (focusout)="isPrerequisiteInputFocus = false"
              (keydown)="onDetectAddPrerequisiteKeyDown($event)"
              placeholder="Saisissez une compétence à acquérir">  

      <div class="input-group-append">
        <button type="button" 
                class="btn btn-success" 
                (click)="onAddPrerequisite()"
                [disabled]="!prerequisiteItemForm.get('prerequisiteInput').value">
  
            <span class="iconify" 
                  data-icon="clarity:add-line"
                  data-inline="false">
            </span>
        </button>
      </div>
    </div>

    <div *ngIf="course.prerequisites.length" 
       class="my-3">

      <div *ngFor="let prerequisite of course.prerequisites; let i = index" 
            class="input-group mb-2">

        <div #prerequisitesInput
              type="text" 
              class="form-control" 
              [ngStyle]="{'background-color': isPrerequisiteSavedFocus[i] ? 'white' : '#F1F1F1'}"
              [textContent]="prerequisite"
              (keydown)="onDetectSetPrerequisiteSavedKeyDown($event, i)"
              (focus)="onActivatePrerequisite(i)"
              (focusout)="onDesactivatePrerequisite(i)"
              contenteditable>
        </div>
        <div class="input-group-append">
          <button *ngIf="!isPrerequisiteSavedFocus[i]"
                  class="btn btn-outline-info" 
                  type="button"
                  (click)="onActivatePrerequisite(i)">

            <span class="iconify" 
                  data-icon="bx:bxs-pencil" 
                  data-inline="false">
            </span>
          </button>
          <button *ngIf="isPrerequisiteSavedFocus[i]"
                  class="btn btn-outline-success" 
                  type="button"
                  (click)="onDesactivatePrerequisite(i)">

            <span class="iconify" 
                  data-icon="ant-design:save-outlined" 
                  data-inline="false">
            </span>
          </button>
          <button class="btn btn-outline-danger" 
                  type="button"
                  (click)="onRemovePrerequisite(i)">

            <span class="iconify" 
                  data-inline="false" 
                  data-icon="eva:close-fill">
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

