<!-- Section Price -->
<div class="tab-pane" role="tabpanel" id="step3">

    <div class="row justify-content-center">
        <div class="col-8">
            <h3 class="head-item-form">Quel est le prix de votre formation ?</h3>
            <form [formGroup]="priceForm" role="form" class="form-item">
                <div class="input-group">
                    <input type="number" class="form-control form-control-lg" formControlName = "price"
                                                    min="1"
                                                    id="price" 
                                                    pattern="\d+"
                                                    onkeydown="return (event.keyCode !== 69 
                                                                       && event.keyCode !== 187
                                                                       && event.keyCode !== 189)"
                                                    aria-label="Amount (to the nearest dollar)"
                                                    placeholder="Saisissez le price de votre formation...">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
            </form>
            <ul class="nav nav-item btns-item-form justify-content-between border mx-auto">
                <li>
                    <button type="button" class="btn btn-default btn-prev" 
                                          (click)="onBack()">
                        Précédent
                    </button>
                </li>
                <li>
                    <button type="button" id="continue" 
                                          class="btn btn-default btn-next" 
                                          *ngIf="!priceForm.invalid"
                                          (click)="onSetPrice()">
                        Continuer
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>