.icon-search {
    cursor: pointer;

    color: #2E7B9C;
    font-size: 1.3rem;
    background-color: white;
    border-left: 0;

    border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    -webkit-border-radius: 0 3rem 3rem 0;
}

.input-search {
    border-right: 0;
}