<div id="home" class="container">
  
  <div class="row-home row align-items-center justify-content-center">

    <!-- La colonne de gauche contient une image ou un text descrivant la plateforme -->
    <div class="col-lg-7 sub-section-home">
      <div class="section-search-courses row py-3">
        <div class="col-lg-4">
          <img src="" width="120" height="120" class="d-inline-block border rounded-circle" alt="">
        </div>
        <div class="col-lg-8">
          <div class="section-search-title">
            <h3>
              Trouves des formations qui pourront t'aider
            </h3>
            <a>
              <div class="row btn-search btn-search-courses align-items-center mt-5 rounded">
                <div class="col-sm-10">
                  <span>Trouver des formations</span>
                </div>
                <div class="col-sm-2 text-right">
                  <i class="fa fa-angle-right fa-2x"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="section-search-events row align-items-center rounded py-3">
        <div class="col-4">
          <img src="" width="120" height="120" class="d-inline-block rounded-circle border" alt="">
        </div>
        <div class="col-8">
          <div class="section-search-title">
            <h3>
              Trouves des événements qui pourront t'aider
            </h3>
          </div>
          <a>
            <div class="row btn-search btn-search-courses align-items-center mt-5 border rounded">
              <div class="col-10">
                <span>Trouver des événements</span>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-angle-right fa-2x"></i>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="section-search-people row align-items-center rounded py-3">
        <div class="col-4">
          <img src="" width="120" height="120" class="d-inline-block rounded-circle border" alt="">
        </div>
        <div class="col-8 align-items-center">
          <div class="section-search-title">
            <h3>
              Connecte toi avec des personnes qui pourront t'aider
            </h3>
          </div>
          <a class="">
            <div class="row btn-search btn-search-courses align-items-center mt-5 border rounded">
              <div class="col-10">
                <span>Trouver des personnes</span>
              </div>
              <div class="col-2 text-right">
                <i class="fa fa-angle-right fa-2x"></i>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- La colonne de gauche contient une image ou un text descrivant la plateforme 
      <div class="section-search">-->

        <!-- Rechercher des formations 
        <a>
          <div class="row btn-search btn-search-courses align-items-center rounded">
            <div class="col-2">
              <i class="fa fa-book fa-2x"></i>
            </div>
            <div class="col-8">
              <span>Trouver des formations</span>
            </div>
            <div class="col-2 text-right">
              <i class="fa fa-angle-right fa-2x"></i>
            </div>
          </div>
        </a> -->

        <!-- Rechercher des événements 
        <a>
          <div class="row btn-search btn-search-events align-items-center rounded">
            <div class="col-2">
              <i class="fa fa-calendar fa-2x"></i>
            </div>
            <div class="col-8">
              <span>Trouver des évènements</span>
            </div>
            <div class="col-2 text-right">
              <i class="fa fa-angle-right fa-2x"></i>
            </div>
          </div>
        </a> -->

        <!-- Rechercher des personnes 
        <a>
          <div class="row btn-search btn-search-people align-items-center rounded">
            <div class="col-2">
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="col-8">
              <span>Trouver des personnes</span>
            </div>
            <div class="col-2 text-right">
              <i class="fa fa-angle-right fa-2x"></i>
            </div>
          </div>
        </a> 
      </div>-->
    </div>

    <!-- La colonne de droite contient les boutons permettant d'effectuer une recherche  -->
    <div class="sub-section-home signup-section col-lg-5">
        <app-signup></app-signup>
    </div>
  </div>
</div>