<!-- Modal -->
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content"> 
    <div class="modal-body">

      <div>
        <app-edit-course-content [courseId]="courseId"
                                 [courseModules]="courseContent">
        </app-edit-course-content>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" 
                            (click)="activeModal.close(oldCourseContent)">Annuler</button>

      <button type="button" (click)="saveCourseContent()">Enregistrer</button>
    </div>
  </div>
</div>