<div class="signin-block text-center mt-5 px-4 py-3 rounded shadow">

    <form [formGroup]="emailForm" 
          class="signin-form">

        <div class="form-group mb-4">

            <input type="email" class="form-control form-control-lg input-sign" 
                                formControlName = "email"
                                id="email" 
                                aria-describedby="emailHelp" 
                                placeholder="Email">
        </div>

        <button type="submit"   class="btn-login btn-lg btn-block"
                                [disabled] = "emailForm.invalid"
                                (click)="onConfirmEmail()">
            Confirmer
        </button>

    </form>
</div>