.row{
    width: 100%;
    margin: auto;

}

#content {
    width: 80%;
}

.section-content {
    padding-left: 3vw;

    
}


.list-items {
    min-height: 80vh;
}


.section-filter{
    margin-bottom: 5vh;
}