<div id="search" 
     class="container">

  <hr class="my-5">

  <div class="mt-5 mx-auto">

    <!-- section Filter pour la recherche -->
    <div class="filter-section container-fluid">
      <app-filter (items)="onAllocateItemList()"
                  [activeTab]="activeTab">
      </app-filter>
    </div>
    
    <app-search-results [activeTab]="activeTab"
                        [coursesList]="coursesList"
                        [eventsList]="eventsList"
                        [usersList]="usersList">
    </app-search-results>

  </div>

</div>
