.filter-section {

    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.btn-cat-to-d {

    border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
}

.catName {
    
    color: #179661;
}

.results-q {

    font-weight: 350;
}  

.tag-btn {
    
    color: black;
    border-color: black;
    background-color: white;
}

.tag-btn:hover, .tag-btn:active, .tag-btn:focus {
    
    color: #179661;
    border-color: #179661;
    background-color: white;
}
