#search {

  height: 100%;
}

.sb-section {

  margin-top: 3vh;
  padding-top: 8vh;
  padding-bottom: 8vh;

  background: linear-gradient(10deg, #5271FF,  #4BA3CB);

  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  border-radius: 10px;

  // border-bottom-left-radius: 50% 8%;
  // border-bottom-right-radius: 50% 8%;
}

.search-bar {
  
  width: 85%;

  margin-left: auto;
  margin-right: auto;
}

.categories-card-row {

  width:100%;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
}

.padding-0  {

  padding-right:0;
  padding-left:0;
}

.card-cat {

  height: 12em;
  min-width: 12em;

  margin-left: auto;
  margin-right: auto;
}

.card-body {

  margin-left: auto;
  margin-right: auto;
}

.card-img {

  height: 100%;
}

.card-title {

  font-weight: 450;
  font-size: 1.2rem;

  margin-top: 1vh;
}

.card-cat:hover {

  cursor:pointer;
}