<!-- Section Price -->
<div class="tab-pane" role="tabpanel" id="step3">

  <div class="row justify-content-center">
      <div class="col-8">
          <h3 class="head-item-form">Quelle est la date de votre évènement ?</h3>
          <form [formGroup]="datesForm" role="form" class="form-item">

            <div class="form-group row">
              <label for="startDate" class="col-2 col-form-label">Du :</label>
              <div class="col-10">
                <input class="form-control" type="datetime-local" 
                                            formControlName = "startDate"
                                            [min]="getTodayDate()"
                                            [value]="getTodayDate()" 
                                            id="startDate">
              </div>
            </div>

            <div class="form-group row"  *ngIf="getStartDate()">
              <label for="endDate" class="col-2 col-form-label">Au :</label>
              <div class="col-10">
                <input class="form-control" type="datetime-local" 
                                            formControlName = "endDate"
                                            [min]="getStartDate()"
                                            [value]="getStartDate()" 
                                            id="endDate">
              </div>
              <span *ngIf="!checkDates()">La date de fin est inférieur à la date de début</span>
            </div>
          </form>

          <!-------------------------------- Buttons "Save" / "Skip" / "Back" ---------------------------->
          <ul class="nav nav-item btns-item-form justify-content-between border mx-auto">
            <li>
              <button type="button" class="btn btn-default btn-prev" 
                                    (click)="onBack()">
                Précédent
              </button>
            </li>
            <li>
                <button type="button" id="continue" class="btn btn-default btn-next" 
                                                    *ngIf="!datesForm.invalid && checkDates()"
                                                    (click)="onSetDates()">
                  Continuer
                </button>
            </li>
          </ul>
      </div>
  </div>
</div>