<div class="signin-block justify-content-center text-center px-4 pb-3 border rounded">
    <div class="signin-title mt-2 mb-5">
        <h3>Rejoignez la communauté</h3>
        <h4>Connectez-vous</h4>
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="signin-form">
        <div class="form-group mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-lg" 
                                formControlName = "email"
                                id="email" 
                                aria-describedby="emailHelp" 
                                placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">
                Nous ne partagerons jamais votre e-mail.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control form-control-lg" 
                                    formControlName="password"
                                    id="password" 
                                    placeholder="Mot de passe">
            <small id="passwordHelp" class="form-text text-muted">
                Le mot de passe doit contenir au moins 8 caractères majuscules et minuscules ainsi que des caractères spéciaux (@&!).
            </small>
        </div>
        
        <!-- <div class="custom-control custom-checkbox">
            <label for="RememberMe">Se souvenir de moi ?</label>
            <input type="checkbox" class="form-control form-control-lg custom-control-input" 
                                    formControlName = "rememberMe"
                                    id="RememberMe">
        </div> -->

        <button type="submit" class="btn btn-primary btn-lg btn-block mt-5"
        [disabled] = "signInForm.invalid"
        (click)="onSignIn()">Se connecter</button>
    </form>
    <p class="text-danger my-2">{{ errorMessage }}</p>
    
    <a class="" href="">Mot de passe oublié ?</a>
</div>

<div class="signin-block-signup border rounded">
    <span>
        Vous êtes nouveau ?
        <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" class="" href="">
            Inscrivez-vous maintenant.
        </a>
    </span>
</div>