<div class="row">
  <div class="col-md-3">
    
    <h4 (click)="goToMyCourses()">Mes cours</h4>
    <h4 (click)="goToMyEvents()">Mes événements</h4>

  </div>
  <div class="col-md-9">

    <h3>Mes Cours</h3>
    <button class="btn btn-lg btn-primary" (click)="newCourse()">
      Publier un cours
    </button>

    <h3>Mes Events</h3>
    <button class="btn btn-lg btn-primary" (click)="newEvent()">
      Publier un event
    </button>

    <h3>Administrateur</h3>
    <button class="btn btn-lg btn-primary" (click)="goToAdmin()">
      Admin
    </button>

    <button type="button" class="btn btn-outline-secondary" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
      Hover over me!
    </button>
  
    <ng-template #tipContent>Hello, <b>oo</b>!</ng-template>
    <button type="button" class="btn btn-outline-secondary" ngbTooltip="tipContent">
      I've got markup and bindings in my tooltip!
    </button>

  </div>
</div>