<div id="home" class="container-fluid">

  <div id="menu-home">
    
    <div class="row menu-search-home h-100 align-items-center justify-content-center text-center">

      <!-- La colonne de gauche contient une image ou un text descrivant la plateforme -->
      <div class="section-menu-home col-lg-6 col-md-6 col-sm-10">

        <!-- <h2 class="mb-5 subtitle">
          Empowering people
        </h2> -->

        <div class="section-search section-search-courses row align-items-center justify-content-center shadow"
             (click)="goToSearchPage()">
          <div class="section-search-icon col-lg-3">
            <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
            <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span>
          </div>
          <div class="col-lg-7">
            <div class="section-search-title">
              <span>
                Rechercher des formations
              </span>
            </div>
          </div>
          <div class="col-lg-2">
            <span class="iconify arrow-search-section" data-icon="ic:round-keyboard-arrow-right" data-inline="false"></span>
          </div>
        </div>

        <div class="section-search section-search-events row align-items-center justify-content-center shadow"
             (click)="goToSearchPage()">
          <div class="section-search-icon col-lg-3">
            <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
            <!-- <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span> -->
            <span class="iconify" data-icon="carbon:event" data-inline="false" style="color: #fcc632;"></span>
          </div>
          <div class="col-lg-7">
            <div class="section-search-title">
              <span>
                Rechercher des évènements
              </span>
            </div>
          </div>
          <div class="col-lg-2">
            <span class="iconify arrow-search-section" data-icon="ic:round-keyboard-arrow-right" data-inline="false"></span>
          </div>
        </div>

        <div class="section-search section-search-courses row align-items-center justify-content-center shadow"
             (click)="goToCreateItems()">
          <div class="section-search-icon col-lg-3">
            <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
            <!-- <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span> -->
            <span class="iconify" data-icon="uil:file-share-alt" data-inline="false" style="color: #28a745;"></span>
          </div>
          <div class="col-lg-7">
            <div class="section-search-title">
              <span>
                Partager ses compétences
              </span>
            </div>
          </div>
          <div class="col-lg-2">
            <span class="iconify arrow-search-section" data-icon="ic:round-keyboard-arrow-right" data-inline="false"></span>
          </div>
        </div>

      </div>

      <!-- La colonne de droite contient les boutons permettant d'effectuer une recherche  -->
      <div class="sub-section-home login-section col-lg-4 col-md-5 col-sm-10">
        <app-login-box></app-login-box>
      </div>
    </div>
  </div>
</div>