#home {

    height: 85vh;
    padding:0;
}

#menu-home {

    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
}

.section-menu-home {

    margin-top: auto;
    margin-bottom: auto;
}

.menu-search-home {

    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.subtitle {

    font-family: inherit;
}

.section-search {

    background-color: white;

    height: 5em;
    width: 85%;
    cursor: pointer;

    border-radius: 2rem;
    -moz-border-radius: 2rem;
    -webkit-border-radius: 2rem;
}

.section-search-img {
    width: 8vw;
    height: 8vw;
}

.section-search-icon {

    font-size: 2.4em;
}

.section-search:focus, .section-search:hover{

    background-color: #F9FAFB
}

.section-search:focus, .btn-search:hover{

    background-color:rgba(224, 221, 221, 0.356);
}

.section-search-events{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.arrow-search-section {
    font-size: 2em;
}
