<div id="home" class="container">
  
  <div class="row-home row align-items-center justify-content-center">

    <!-- La colonne de gauche contient une image ou un text descrivant la plateforme -->
    <div class="col-lg-7 sub-section-home border">

      <div class="section-search section-search-courses row align-items-center rounded py-3">
        <div class="col-lg-4">
          <img src="" width="120" height="120" class="d-inline-block border rounded-circle" alt="">
        </div>
        <div class="col-lg-8">
          <div class="section-search-title">
            <h3>
              Trouves des formations qui pourront t'aider
            </h3>
          </div>
        </div>
      </div>

      <div class="section-search section-search-events row align-items-center rounded py-3">
        <div class="col-4">
          <img src="" width="120" height="120" class="d-inline-block rounded-circle border" alt="">
        </div>
        <div class="col-8">
          <div class="section-search-title">
            <h3>
              Trouves des événements qui pourront t'aider
            </h3>
          </div>
        </div>
      </div>


      <div class="section-search section-search-people row align-items-center rounded py-3">
        <div class="col-4">
          <img src="" width="120" height="120" class="d-inline-block rounded-circle border" alt="">
        </div>
        <div class="col-8 align-items-center">
          <div class="section-search-title">
            <h3>
              Connecte toi avec des personnes qui pourront t'aider
            </h3>
          </div>
        </div>
      </div>  

    </div>

    <!-- La colonne de droite contient les boutons permettant d'effectuer une recherche  -->
    <div class="sub-section-home signup-section col-lg-5">
        <app-signup></app-signup>
    </div>
  </div>
</div>