.row-home{
    height: 80vh;

    border:solid 1px red;
}

.section-search-title h3 {
    font-size: 1.3em;
    font-weight: 400;
    /*text-transform: uppercase;*/
    width: 90%;
}

.section-search {

    width: 90%;
    cursor: pointer;

    -webkit-box-shadow: 0.7px 0.7px 0.7px 0.7px rgba(166,166,166,1);
    -moz-box-shadow: 0.7px 0.7px 0.7px 0.7px rgba(166,166,166,1);
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgba(166,166,166,1);
}

.section-search:focus, .btn-search:hover{
    background-color:rgba(224, 221, 221, 0.356);
}

.section-search-courses, .section-search-events{
    margin-bottom: 5vh;
}