<div id="home" 
     class="container-fluid">

  <div class="row menu-search-home menu-home h-100 justify-content-center align-items-center">

    <!-- La colonne de gauche contient une image ou un text descrivant la plateforme -->
    <div class="section-menu-home col-lg-7 col-md-7 col-sm-10">

      <!-- <h2 class="mb-5 subtitle">
        Empowering people
      </h2> -->

      <div class="row section-search section-search-courses align-items-center"
            (click)="goToCreateCourse()">
        <div class="section-search-icon col-lg-3">
          <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
          <!-- <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span> -->
          <img src="assets/img/online-course-w.png" 
                width="100" 
                class="d-inline-block" 
                alt="image créer une formation">
        </div>
        <div class="col-lg-9">
          <div class="home-service-title">
            <h2>
              Publiez vos formations en ligne
            </h2>
            <span class="text-light">
              Créez une expérience d’apprentissage que vos apprentis adoreront
            </span>
          </div>
        </div>
      </div>

      <div class="section-search section-search-events row align-items-center"
            (click)="goToCreateEvent()">
        <div class="section-search-icon col-lg-3">
          <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
          <!-- <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span> -->
          <!-- <span class="iconify" data-icon="carbon:event" data-inline="false" style="color: #fcc632;"></span> -->
          <img src="assets/img/event-w.png" 
                width="90" 
                class="d-inline-block" 
                alt="image publier un événement">
        </div>
        <div class="col-lg-9">
          <div class="home-service-title">
            <h2>
              Publiez vos événements​
            </h2>
            <span class="text-light">
              Promouvez vos événements et gagnez en visibilité
            </span>
          </div>
        </div>
      </div>

      <div class="section-search section-search-courses row align-items-center"
            (click)="goToSearchPage()">
        <div class="section-search-icon col-lg-3">
          <!-- <img src="" class="d-inline-block rounded-circle section-search-img border" alt=""> -->
          <!-- <span class="iconify" data-icon="vaadin:academy-cap" data-inline="false" style="color: #2E7B9C;"></span> -->
          <!-- <span class="iconify" data-icon="uil:file-share-alt" data-inline="false" style="color: #28a745;"></span> -->
          <img src="assets/img/bar-chart-w.png" 
                width="85" 
                class="d-inline-block" 
                alt="image rechercher des formations et événements">
        </div>
        <div class="col-lg-9">
          <div class="home-service-title">
            <h2>
              Développez vos connaissances
            </h2>
            <span class="text-light">
              Découvrez les formations et évènements qu'il vous faut!
            </span>
          </div>
        </div>
      </div>

    </div>

    <!-- La colonne de droite contient les boutons permettant d'effectuer une recherche  -->
    <div class="sub-section-home login-section col-lg-4 col-md-5 col-sm-10 px-5">

        <app-login-box></app-login-box>
    </div>
  </div>
</div>