#home {

    height: 91vh;
    background: linear-gradient(10deg, #4BA3CB, #5271FF);
}

#menu-home {

    padding-top: 5vh;
    padding-bottom: 5vh;
}

.section-menu-home {

    margin-top: auto;
    margin-bottom: auto;
    
    color: white;
}

.home-service-title {

    color: white;
    // color: #5A79F8;
    // color: rgb(99, 99, 99);
}

.subtitle {

    font-family: inherit;
}

.section-search {

    height: 7em;
    cursor: pointer;

    margin-top: 4vh;
    margin-bottom: 4vh;

    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;;
    -webkit-border-radius: 0.5rem;
}

.section-search-img {

    width: 8vw;
    height: 8vw;
}

.section-search-icon {

    font-size: 2.4em;
}

.section-search:focus, .section-search:hover{

    background-color:rgba(224, 221, 221, 0.192);
}

// .section-search-events {
//     margin-top: 10vh;
//     margin-bottom: 10vh;
// }

.arrow-search-section {
    
    font-size: 2em;
}
