.carousel-item {

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
}

.carousel-indicators li {

    background-color:grey;
    position: relative;
    top:70px;
}

.carousel-control {

    margin: 0 !important;
    padding: 0 !important;

    width: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:gray;
    font-size: xx-large;
  
   
}

.carousel-control-prev-icon {
    position: relative;
    right:10px;


}
  
.carousel-control-next-icon {
    position: relative;
    left:10px;  
}