@import "../../style/auth-style.scss";
@import '/src/app/shared/style/color.scss';

h3 {

    text-align:center;
    font-size: large;
    font-weight: 800;
}

h4 {

    text-align:center;
    font-size: large;
    font-weight: 400;
}

label {
    font-size: small;
}

button {

    font-size: medium;
}

// .btn-login {
//     background-color: #2E7B9C;
//     border-color: #2E7B9C;
// }

.signin-block-signup {
    padding-top: 2vh;
    padding-bottom: 2vh;

    margin-top: 2vh;

    font-size: medium;
}
